{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% load humanize %}


{% block title %}
  {% trans 'hohos - search for users and feeds' %}
{% endblock %}


{% block head %}

<link href="{% static 'css/search.css' %}" rel="stylesheet">

<style type="text/css">

/* searchusers */


.typeahead, .tt-query, .tt-hint {
  border: 1px solid #CCCCCC;
  border-radius: 5px;
  font-size: 1.2em;
  height: 35px;
  line-height: 35px;
  outline: medium none;
  padding: 4px 12px;
  width: 150px;
}
.typeahead {
  background-color: #FFFFFF;
}
.typeahead:focus {
  border: 2px solid #0097CF;
}
.tt-query {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}

.tt-hint {
  color: #999999;
}

.tt-dropdown-menu {
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  margin-top: 5px;
  padding: 8px 0;
  width: 200px;
}
.tt-suggestion {
  font-size: 1em;
  line-height: 20px;
  padding: 3px 20px;
  color: #008080;
}
.tt-suggestion { cursor: pointer; }

.tt-suggestion.tt-cursor {
  background-color: #0097CF;
  color: #FFFFFF;
}
.tt-suggestion p {
  margin: 0;
}

#search input[type="text"] {
    /*background: url("{% static 'img/search.png' %}") no-repeat 10px 6px #fcfcfc;*/
    border: 1px solid #d1d1d1;
    font: 14px Arial,Helvetica,Sans-serif ;
    color: white; #bebebe;
    width: 180px;
    padding: 6px 15px 6px 35px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
/*    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);*/
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
    background-color: #008080;
    }


#search input[type="text"]:focus {
    width: 200px;
    }

</style>

{% endblock head %}


{% block main %}
  <div class="page-header"> 
    <h1>Search</h1>
  </div 
  <div class="row" style="padding-top: 4em; padding-bottom: 8em;">
    <div class="col-md-8 col-md-offset-2">
      <h3>{% trans "Search Styles and Users" %}</h3>
                <form class="navbar-form navbar-left" role="search" action="{% url 'search' %}" id="search">
                  <div class="input-group">
                    <input type="text" class="form-control typeahead input-lg" name="q" id="to" placeholder="Search">
                     <span class="input-group-btn">
                      <button type="submit" class="btn btn-info" style="border-radius: 30%;"><span class="glyphicon glyphicon-search"></span></button>
                    </span> 
                  </div>
                </form>
    </div>
  </div>
{% endblock main %}


{% block js %}

<script type="text/javascript">
  
$(function () {

  var substringMatcher = function(strs) {
    return function findMatches(q, cb) {
      var matches, substringRegex;
      matches = [];
      substrRegex = new RegExp(q, 'i');
      $.each(strs, function(i, str) {
        if (substrRegex.test(str)) {
          matches.push({ value: str });
        }
      });
      cb(matches);
    };
  };

  $.ajax({
    url: '/searchusers/',
    cache: false,  
    success: function (data) { 
      $('#to').typeahead({ 
        hint: true,
        highlight: true,
        minLength: 2
      },
      {
        name: 'data',
        displayKey: 'value',
        source: substringMatcher(data)
      });
    }
  }); 

});

</script>

{% endblock js %}