{% extends 'base.html' %}

{% load staticfiles %}

{% block head %}

  <link href="{% static 'css/hc.css' %}" rel="stylesheet">
  <!-- to override some properties defected by hc.css -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<style type="text/css">
</style>

{% endblock head %}

{% block main %}

<script type="text/javascript">
     
$(document).ready(function(){

  Tipped.create(".tip", {position:'topleft'});

});

$(document).ready(function(){
    Tipped.create(".tipinline");
});

$(document).ready(function(){
Tipped.create("#callbacks", "This tooltip is a bit more advanced", {
  skin: 'light',
  position: 'topleft',
  close: true,
  hideOn: false,
  onShow: function(content, element) {
    $(element).addClass('highlight');
  },
  afterHide: function(content, element) {
    $(element).removeClass('highlight');
  }
});
});


      
        $(document).ready(function() {
            
           //  var from_user = document.getElementById('from_user').text;
           //  var to_user = document.getElementById('to_user').text;
           //  // var from_user = undefined

           //  if(from_user!=undefined){ var username=from_user; }
           //  else { var username=to_user; }

           // $( "#log" ).append( "<div>mouse hovered on mytooltip items username is - </div>" + username);            

        $(".my-tooltip").mouseover(function() {

        //   $( "#log" ).append( "<div>mouse hovered on mytooltip items username is - </div>" + username);           
        
        var user_id = $(this).attr('id');
        var username = document.getElementById(user_id).text;
         $( "#log" ).append(username+' ');

         if(username!=undefined) {
            $.ajax({

                  url : '/feeds/userinfo/',
                  data : { 'username': username,},
                  cache : false,

                  beforSend : function(){
                    var username = undefined; 
                  },

                  success : function(data){

                    // $("#log").text('got the html response from server and stored in datahtml');
                    var datahtml = data;
                    // $("#log").html(datahtml);

          $(function() {

              $('.my-tooltip').tooltipster({
                interactive: true,
                content: 'Loading...',
                contentCloning: false,
                contentAsHTML: true,
                animation: 'fade',
                cache : false,

                    functionBefore: function(origin, continueTooltip) {
                    // we'll make this function asynchronous and allow the tooltip to go ahead and show the loading notification while fetching our data.
                      continueTooltip();
                      origin.tooltipster('content', datahtml, false);
                    }
                });   // .tooltipster
              
              });  //  tooltip generator function inside success function
            
            }, // success function

            complete : function(){
             var datahtml = undefined; 
            },

           }); // ajax call
          }

          });  // detecting mouseover on username


       });  // document ready detection


</script>

  <div id='global-container'>
      <h3>Facebook Style Hovercard Demo - codedodle.com</h3><br/><br/>
        <ul style="list-style:none;padding:0;">
            <li class="tipinline" data-tipped-options="inline:''" >pulling id from_user</li>
            <li>View <a href="#" class="tip" title="okay" data-tipped-options="skin: 'green'">okay</a>'s Profile.</li>
            <li>View <a href="#" class="tip" title="deepakbharti" data-tipped-options="skin: 'red'" title="deepakbharti"> deepakbharti</a>'s Profile.</li>
              <br>
            
            <!-- <li id="callbacks" class="btn btn-primary">Hehe me</li> -->
            </ul>
            
<span id='ajax-example' data-tipped-options="ajax: { url: '/feeds/tiptest/' }" class="btn">Ajax</span>

<script type="text/javascript">
  $(document).ready(function() {
    Tipped.create('#ajax-example');
  });
</script>

            <div class="row">
                  <div class="col-md-12">                     
                    <small id="log"></small>
                  </div>
            </div>
  </div>
  
  <div id="info" style="display:none;">
  </div>


  <div style="text-align: center;">
  <li>View <a href="#" class="my-tooltip" id="from_user">deepakbharti</a>'s Profile.</li>
   <li>View <a href="#" class="my-tooltip" id="to_user">devank</a>'s Profile.</li>
  </div>
        <!-- loading js at bottom for faster page load -->

{% endblock main %}


