 {% load i18n %}
{% load staticfiles %}
{% load humanize %}   
     
   {% block head %} 
   <style type="text/css">
 .green {  
    color: #008080;
 }
/* .like .heart{ 
  color: green; 
 } */ 
.like{ font-weight: bold; font-size:13px; color: gray; }
.unlike { font-weight: bold; color: #008080; font-size:12px; }
   </style>     
   {% endblock %}  

<li feed-id="{{ feed.pk }}" csrf="{{ csrf_token }}" style="margin-left:-100px;">
  <div class="feed-container">
    
    <div class="post">
    <a href="{% url 'challenge_feeds' %}"> <span style="background-color: #A9A9A9; font-size: 13px; color: black;"> Profile Talks</span></a>
      {% if feed.user == user %}
               <span class="dropdown pull-right">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color: gray;"><b class="caret"></b></a>
                  <ul class="dropdown-menu">
                  <span class="pull-left glyphicon glyphicon-remove remove-feed"> Remove style</span>
                  </ul>
              </span>


      {% endif %}

      <h3><a  href="{% url 'profile' feed.user.username %}" class="userinfotip">{{ feed.user.profile.get_screen_name }}</a>
      <small>{{ feed.date|naturaltime }}</small>
      
      <small>
      <i class="fa fa-arrow-right"></i>
      {% if feed.to_user %}
      <a href="{% url 'profile' feed.to_user.username %}" style="color: #898080; font-size: 13px;">{{feed.to_user.profile.get_screen_name}}</a> {% else %} <span style="color: #898080; font-size: 13px;">everyone</span> {% endif %}    
       </small> 

      </h3> 
      <p style="margin-bottom:7px; margin-top:7px color:#008080">{{ feed.linkfy_post|safe|linebreaksbr }}</p>
      <p>
      {% if feed.post_pic %} 
    <a href="{% url 'feeds' feed.id %}">
    <img src="{{feed.post_pic.url}}" class="img img-responsive challengeimgrightside" title="Hey {{request.user.username}} share your version of {{feed.user.username}}'s style"></a>    
    {% endif %}
      </p>
      {% if request.user.is_authenticated %}
      <div  style="margin-bottom:7px; margin-top:7px" class="interaction">

      {% if feed.likes or feeds.comments %}
      <!-- <i class="fa fa-heart fa-1x fa-fw" style="color:lightpink;"></i> --><span class="likers">
      {% if feed.likes %}<a href="{% url 'feeds' feed.id %}" style="color:gray;"><span>{{feed.likes}} liked</span></a>
      {% endif %}
      {% if feed.comments %}<a href="{% url 'feeds' feed.id %}" style="color:gray;"> <span>{{feed.comments}}</span> commented</span></a>
      {% endif %}
      <br style="margin-top:5px; margin-bottom:3px;" >
      {% endif %}


        {% if user in feed.get_likers %}
          <a href="#" class="like unlike">
            <span class="fa fa-thumbs-up fa-1x gray"></span>
            <span class="text">{% trans 'Liked' %}</span>
          </a>
        {% else %}
          <a href="#" class="like">
            <span class="fa fa-thumbs-up fa-1x  gray"></span>
            <span class="text">{% trans 'Like' %}</span>
          </a>
        {% endif %}
        <a style="color:gray; font-size:12px;" href="#" class="comment">
          <i class="fa fa-comments fa-1x gray" aria-hidden="true"></i>
          {% trans 'Comments' %}
        </a>
      </div>
      <div class="comments">
        <form role="form" method="post" action="{{ comment }}" onsubmit="return false">
          {% csrf_token %}
          <input type="hidden" name="feed" value="{{ feed.pk }}">
          <input type="text" class="form-control input-sm" placeholder="{% trans 'Write a comment...' %}" name="post" maxlength="255">
        </form>
        <ol class="clearfix">
          {% comment %} Place holder to load feed comments {% endcomment %}
        </ol>
      </div>
      {% else %}
      {% endif %}
    </div>
  </div>
</li>
