{% extends 'base.html' %}
{% load staticfiles i18n %} 

{% block title %}
  {% trans 'Challenge & imitate facial expressions - hohos' %}
{% endblock %} 
 
 
{% block head %} 

 

  <link href="{% static 'css/signup.css' %}" rel="stylesheet"> 
<style type="text/css">
 /* http://www.menucool.com/slider/jsImgSlider/images/image-slider-2.jpg*/ 
  
/* {% static "img/login_cover_new.jpg" %}*/ 

body { 
/*  background: url('https://media.giphy.com/media/11UpunLi2nQzZu/giphy.gif') no-repeat center center fixed;
*/  /*background-repeat:no-repeat;*/  
  /*background-size: cover;    */
/*  opacity: 0.5;
  filter: alpha(opacity=50);*/   
  background-color: #008080;
}      
 .whitetext {color: white; font-size:10px;}
 .greentext {color: green; border-color: green;}   
 .redtext {color: red; border-color: red;}
 
 .center {
  display: flex;
  align-items: center;
  justify-content: center;
}

#human, #product { color: white; }

small a { color: black; }
small a:hover { color: black; }

.bottom { border-bottom-width: 3px; border-bottom-color: white; }


p {
  animation: type 4s steps(60, end); 
}

@keyframes type2{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; } 
} 

@keyframes blink{
  to{opacity: .0;}
}

::selection{
  background: black;
}
</style>

<script type = "text/javascript" src = "/static/jquery/jquery.min.js"></script>
{% if flag == "products" %}
<style type="text/css">  .logo a:hover {color: red;}</style>
<script type="text/javascript">
  $(document).ready(function(){
    $("#human-form").hide(); 
    $("#product-form").show(); 
  }); 
</script>
{% elif flag == "human" %}  
<style type="text/css">  .logo a:hover {color: green;}</style>
<script type="text/javascript">
  $(document).ready(function(){
    $("#human-form").show(); 
    $("#product-form").hide();
  }); 
</script>
{% else %}
<script type="text/javascript">
  $(document).ready(function(){
    $("#human-form").show(); 
    $("#product-form").hide();
    $("#human").addClass('bottom');
    // $("#human").css({'border-bottom-width':'3px', 'border-bottom-color':'white'});
  }); 
</script>
<style type="text/css">  .logo a:hover {color: orange;}</style>
{% endif %}

<script type="text/javascript">
  $(document).ready(function(){
  $("#product").click(function () {
    $("#human-form").hide(); $("#human").removeClass('bottom');
    $("#product-form").show();  $("#product").addClass('bottom');
  });
    $("#human").click(function () {
    $("#product-form").hide(); $("#product").removeClass('bottom');
    $("#human-form").show();   $("#human").addClass('bottom');
   
  });
})  

</script>
{% endblock head %}


{% block body %}
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.9&appId=1867252943531138";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

  <div class="row">
<!--   <a style="text-decoration:none;" href="{% url 'home' %}">
  <h1 class="center">
  <span style="color:red;">Ho</span><span style="color:green;">ho</span><span style="color:blue;">s</span>
  </h1>
  </a> -->


    <div class="col col-md-4 col-md-offset-4" style="">  

      <a href="{% url 'home' %}"><h1 style="color: white; text-align: center; font-size: 70px; text-shadow: 3px 2px black;" class="center hohoslogo" title="Hope you are awesome. Lets Enter the world of strange Human behaviour & expressions formed naturally">hohos</h1></a>

      <small class="center welcomeback" style="margin-bottom: -17px; color: white; font-size: 13px;">Welcome there <br>
      Do you love your facial expressions...?<br> if yes...! then hohos is for You<br> We @hohos let you share your cool facial expressions<br> and also are excited to see you copying the others' expressions <br> hope you will enjoy at hohos
      </small>
      <hr style="border-color:black;">


<!--       <div style="text-align: center;">
      <div class="fb-like" data-href="https://www.facebook.com/hohosguys/" data-layout="button_count" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>
      </div> -->

      <br>      
     
    </div>
  </div>


<div class="row">
<div class="col col-sm-6 col-sm-offset-3">
  
<h1 id="mydiv" class="logo">
<!-- <p class="logo whitetext" style="font-size:40px; color: black;">You ?</p> -->
</h1>
<table class="center">
<tr>
  <th colspan="10" align="left">
  <button id="human" class="btn" style="background-color: #449D44;">Amazing Human ?</button>
  <button id="product" class="btn" style="margin-left:65px; background-color: #f43935;">Product/Shop ?</button>
  </th>
</tr>

</table>

    {% if form.field_errors %}
      {% for error in form.field_errors %}
        <div class="alert alert-danger alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          {{ error }}
        </div>
      {% endfor %}
    {% endif %}

  <div id="human-form" class="signup">
    <h2 style="color:green; font-weight:bold; border-color:white;  text-shadow: 2px 2px white;
" class="center">{% trans 'Welcome' %}</h2>
    <form action="{% url 'signup_human' %}" id="signup-form-human" method="post" role="form">
      {% csrf_token %}

          <div class="form-group{% if form_human.username.errors %} has-error{% endif %}">
          <input type="text" class="form-control greentext" name="username" placeholder="username" title="Unique username, which should not contain +,-, and white spaces" required>
          {% for error in form_human.username.errors %}
            <label class="control-label whitetext"><span class="whitetext">{{ error }}</span></label>
          {% endfor %}
          </div>
          
          <div class="form-group{% if form_human.email.errors %} has-error{% endif %}">
          <input type="text" class="form-control greentext" name="email" placeholder="email" title="This is used in to send you password reset link, in case you forget your password" required="True">
          {% for error in form_human.email.errors %}
            <label class="control-label whitetext"><span class="whitetext">{{ error }}</span></label>
          {% endfor %}
          </div> 
         <div class="form-group{% if form_human.password.errors %} has-error{% endif %}">
          <input type="password" class="form-control greentext" name="password" placeholder="password" title="Choose a strong password" required>
          {% for error in form_human.password.errors %}

            <label class="control-label whitetext"><span class="whitetext">{{ error }}</span></label>
          {% endfor %}
        </div>
<!--         <div class="form-group{% if form_human.confirm_password.errors %} has-error{% endif %}">
          <input type="password" class="form-control greentext" id="confirm_password" name="confirm_password" placeholder="confirm password">
          {% for error in form_human.confirm_password.errors %}
            <label class="control-label greentext"><span class="greentext">{{ error }}</span></label>
          {% endfor %}
        </div> -->

        <div class="form-group{% if form_human.gender.errors %} has-error{% endif %}">         
          <!-- <input type="text" class="form-control greentext" id="company" name="gender" placeholder="gender"> -->
              <!-- <label for = "gender">Select a speed</label> -->
               <select required name="gender" id="gender" class="form-control greentext" placeholder="gender">
                  <option>Gender</option>
                  <option>Female</option>
                  <option>Male</option>
               </select>

          {% for error in form_human.gender.errors %}
            <label class="control-label whitetext"><span class="whitetext">{{ error }}</span></label>
          {% endfor %}
        </div>

        <div class="form-group center">
          <button type="submit" id="btn-signup-human" class="btn btn-success Signupbtn" data-html="true" style="margin-right:5px; color: white;" title="by signing up you agree our <a href='{% url 'tos' %}' style='color:yellow;'>Terms</a>">{% trans 'SignUp' %}</button>
          <a href="{% url 'login' %}" class="btn btn-success loginbtn" style="width: 200px;" title="Already in? Login">{% trans 'Already on hohos? Login' %}</a> <br>
        </div>
          <small class="center">+,-,space not allowed in username</small>  
          <!-- style="background-color:white;" -->
    </form> 
  </div> 

  <div id="product-form" class="signup">
    <h2 style="color:red; font-weight:bold; border-color:white;     text-shadow: 2px 2px white;" class="center">{% trans 'Welcome' %}</h2>
    <form action="{% url 'signup_products' %}" class="signup-form" method="post" role="form">
      {% csrf_token %}
        <input type="hidden" name="is_product" value="1" >
          <div class="form-group{% if form_products.username.errors %} has-error{% endif %}">
          <input type="text" class="form-control redtext" name="username" placeholder="username" title="Unique username, which should not contain +,-, and white spaces" required>
          {% for error in form_products.username.errors %}
            <label class="control-label">{{ error }}</label>
          {% endfor %}
          </div>
<!--         <div class="form-group{% if form_products.company.errors %} has-error{% endif %}">
          <input type="text" class="form-control redtext" id="company" name="company" placeholder="Company you belong">
          {% for error in form_products.company.errors %}
            <label class="control-label">{{ error }}</label>
          {% endfor %}  
        </div> -->

         <div class="form-group{% if form_products.email.errors %} has-error{% endif %}">
          <input type="text" class="form-control redtext" name="email" placeholder="email" title="This is used in to send you password reset link, in case you forget your password" required>
          {% for error in form_products.email.errors %}
            <label class="control-label">{{ error }}</label>
          {% endfor %}
          </div> 

         <div class="form-group{% if form_products.password.errors %} has-error{% endif %}">
          <input type="password" class="form-control redtext" name="password" placeholder="password" title="Choose a strong password" required>
          {% for error in form_products.password.errors %}
            <label class="control-label">{{ error }}</label>
          {% endfor %}
        </div>


        <div class="form-group center">
        <button type="submit" class="btn Signupbtn btn-signup" style="margin-right:5px; background-color: #f43935; color: white;" title="by signing up you agree our <a href='{% url 'tos' %}' style='color:yellow;'>Terms</a>">{% trans 'SignUp' %}
        </button>
        <a href="{% url 'login' %}" class="btn btn-danger" style="width: 200px; background-color: #f43935; color: white;">{% trans 'Already on hohos? Login' %}</a> 
        </div>
        <small class="center">+,-,space not allowed in username</small>
    </form>
  </div>  


</div>

<script src="https://cdn.jsdelivr.net/jquery.typeit/4.4.0/typeit.min.js"></script>

<div class="col col-md-4 col-md-offset-4">

      <hr style="border-color: gray;"> 

      <p style="color: white; margin-left: 50px;" class="center">
      <span style="color: black; margin-right: 10px;">
      <img src="{% static 'img/homepics/4.jpg' %}" class="img img-responsive" style="max-width: 70px; max-height: 70px; float: left;">
      </span><span class="welcometext">Welcome Guest <br> Hope you express things cool.<br> Try correcting your friends expressions.<br>
      Invite Your friends on hohos to show their own version of these expressions</span></p>     


   <script type="text/javascript" src="{% static 'js/invite.js' %}"></script>

        <form method="post" class="user-invite-form center"> {% csrf_token %}
         <input style="margin-left: 55px" type="text" name="invite" id="invite" placeholder="friends Email"/>
         <button class="btn btn-sm btn-info" style="width: 120px; margin-left: 5px; margin-right: 5px; font-size: 14px;" id="invitebutton">Invite</button>
        </form>

      <hr>

      {% if users_challenges %}
      <div class="row">
        {% for feed in users_challenges %}
        <div class="col col-xs-1  center">
        <ul style="list-style-type: none;">
         <a href="{% url 'special_feeds' feed.id %}">
         <img src="{{feed.post_pic.url}}" class="img img-responsive" style="min-height: 70px; max-height: 70px; max-width: 70px; margin-left: 0px; border-radius: 50%; hover:focus;">
         </a>
          </ul>
        </div>
      {% endfor %}
      </div>

      <br style="margin-bottom: 15px;">

      <button class="btn btn-block btn-sm btn-primary center">Because its awesome to see friends copying our styles</button>

      {% endif %} 

      <br>

      <small style="color: black; margin-left: -30px;" class="center"><a href="{% url 'about' %}"> About </a>|<a href="{% url 'contact' %}"> Contact Us </a>|<a href="{% url 'privacy' %}"> Privacy Policy </a>|<a href="{% url 'tos' %}"> Terms </a></small>
      <br style="margin-top: 3px;">
      <small class="center" style="margin-left: -30px;">Copyright © 2017 hohos. All rights reserved.</small>
      <br><br>

      <div style="text-align: center;">
       <div class="fb-like" data-href="https://www.facebook.com/hohosguys/" data-layout="button_count" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>
       </div>

      <hr style="color: black;">
      <a type="button" class="btn btn-info center talkus" style="width: 150px; margin-left: 130px;"  href="{% url 'profile' 'contact' %}">   
      <span class="glyphicon glyphicon-share-alt"></span>Talk to us @hohos</a>
      <br><br>

</div>
</div>
  
{% endblock body %}


{% block js %}

<script type="text/javascript">
  
  Tipped.create(".loginbtn",{position: 'right'});
  Tipped.create(".Signupbtn",{position: 'left'});
  Tipped.create(".resetpasswordbtn",{position: 'right'});
  Tipped.create(".hohoslogo", 'Hope you are awesome. Lets Enter the world of strange Human behaviour & expressions formed naturally' ,{position : 'top'});

  Tipped.create("#invite", 'Enter your friends email address', {position : 'left'});
  Tipped.create("#invitebutton", 'Invite your friends on hohos to share their awesome expressions' ,
    {position : 'topleft'});  
  Tipped.create(".talkus",'In case need some help',{position : 'right'});

  Tipped.create("#username",{position : 'right'});
  Tipped.create("#password",{position : 'right'});
  Tipped.create("#email",{position : 'right'});
  Tipped.create("#gender",{position : 'right'});

  Tipped.create("#product-form #username",{position : 'right'});
  Tipped.create("#product-form #password",{position : 'right'});
  Tipped.create("#product-form #email",{position : 'right'});
  Tipped.create("#product-form #gender",{position : 'right'});

  Tipped.create("#human", 'If you are human, click on this and SignUp' ,{position: 'left'});
  Tipped.create("#product",'If you are Product/Shop, click on this and SignUp' ,{position: 'right'});

</script>

<script type="text/javascript">
$('.welcometext').typeIt({ speed:60, breakLines:false, autoStart:false });
$('.hohoslogo').typeIt({ cursor: false});

$('.welcomeback').typeIt({ 
  breakLines:false, 
  speed: 100,
  deleteDelay: 750, 
  autoStart: false,
  loop:true,
  loopDelay:1500 
});

</script>


{% endblock js %}


    









