{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block content %}

<div class="row" style="margin-top: 80px;">
	<div class="col-xs-6 col-sm-offset-3">
	
	{% if title2 %}
	 <button class="btn btn-block" style="margin-bottom:15px;">{{title2}}</button>
	{% endif %}

	<button class="btn btn-success btn-lg pull-center" style="text-align: center; margin-bottom:15px;">{{title}}</button>
	<br>
  	<form action="." method="POST">
	{% csrf_token %}
	{{ form|crispy }}
	<input type="submit" class='btn btn-primary' value="Send your message!">
<!-- 	<button class="btn btn-primary">We always listen you!</button> -->

 	</form>

  </div>
</div>


<div class="row" style="margin-top: 20px; font-size: 20px;">
  
  <div class="col-xs-8 col-xs-offset-2">
  <br><br><br>
  <a href="" class="btn btn-warning btn-block">Is not that Nice!</a>
  <a href="" class="btn btn-info btn-block">You could also copy that easily!</a>
  </div>

  <div class='col-xs-8 col-xs-offset-2'>
  <br>
  <img src="{% static 'img/pic4.jpg' %}" class="img-responsive" height="300px" style="margin-bottom: 20px">
  <a href="" class="btn btn-primary btn-block">Or you want to modify that!</a>
  <a href="" class="btn btn-success btn-block">So Come And Join Us!</a>
  </div>
</div>



<br><br><br><br><br><br><br>

{% endblock %}




{% block footer %}
<footer>
<div class="container-fluid" style='padding: 10px; margin-top: 70px; height: 50px; background-color: #008080;'>
<p style="text-align:center;"><a href="#" target="blank" style="color: black;">Contact</a> | <a href="#" target="blank" style="color: black;">LinkedIn</a> | <a href="#" target="blank" style="color: black;">Twitter</a> | <a href="#" target="blank" style="color: black;">Google+</a> | <a href="" style="color: black;">Hohos</a>
</p>
</div>
</footer>
{% endblock %}

<!-- {% if new_name %}

<p>Hey there {{request.user}} you have successfully changed your name to {{new_name}}. You can now use this name.
<br />
Bye...
</p>

{% else %}

<p>Hey there {{request.user}} you have successfully sent your message. We'll contact you soon.
</p>

{% endif %} -->