{% extends 'base.html' %}
{% load crispy_forms_tags %}

<!-- <style>
{% block style %}
.share {
    display: none;
}
{% endblock %}
</style>
 -->


{% block content %}


<div class="row" style="margin-top: 80px;">
  <div class="col-sm-6 col-sm-offset-3">
<button class="btn btn-info">
  Challeneg People with your Style!
</button>
<!-- <button class="btn btn-info btn-lg btn-block">Challeneg People with your New Styles!</button> -->

<!--   <br>
  <h4>{{title}}</h4>
  <form method="GET" action="">
      <input type="text" name="q" placeholder="search Posts" value="{{request.GET.q}}" />
      <input type="submit" class="btn btn-info" value="search" />
  </form> -->
  </div>
<br><br>
  <div class="col-sm-6 col-sm-offset-3" style="margin-top: 15px">
  <form method="post" action="" enctype="multipart/form-data">
  {% csrf_token %} {{ form|crispy }}
  <input type="submit" class="btn btn-success btn-lg btn-block" value="Click to show your new style">
  </form>
  </div>

<br><br>

{% for obj in object_list %}

<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <div class="thumbnail" style="margin-bottom: 0px;">
<!--       <img src="..." alt="..."> -->
      <div class="caption" style="margin-bottom: 0px; margin-top: 0px">
        <h3><a href="{{ obj.get_absolute_url }}">{{obj.user}}</a><small> says {{ obj.title }} at {{obj.time_stamp|timesince}} ago</small> </h3>
        {% if obj.my_new_style %}
        <!-- {{obj.my_new_style.url}} -->
        <a href='{% url "posts:detail" slug=obj.slug %}'><img src='{{obj.my_new_style.url}}' class="img-responsive"/></a>
        {% endif %}
<!--         <p>{{obj.content|linebreaks|truncatechars:120 }}</p> -->
        <p>
<!--           <a href="#" class="btn btn-primary" role="button" style="margin-top: 10px;">
          <i class="fa fa-thumbs-up" aria-hidden="true"></i> {{obj.likes}} -->
          
<!--   <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="false"></div> -->

          </a>

           <a href="#" class="btn btn-success" role="button" style="margin-top: 10px;">Its my way</a>
<!--            <a href="{{obj.id}}/edit/" class="btn btn-warning" role="button" style="margin-top: 10px;">Edit</a> -->
           </p>
           <br>

           {% for comment in obj.comments.all %}

           <blockquote>
             {{ comment.content }}
             <footer>via {{ comment.user }} | {{ comment.timestamp|timesince }} ago | {% if comment.children.count > 0 %}{{ comment.children.count }} Comment{% if comment.children.count > 1 %}s{% endif %} | {% endif %} <a href='{% url "posts:detail" slug=obj.slug %}'> see full conversation</a></footer>
           </blockquote>
    
           {% endfor %}



<!--         <div class="fb-comments" data-href="{{request.build_absolute_uri}}" data-numposts="5"></div> -->

      </div>
    </div>
  </div>
</div>

{% endfor %}


{% endblock %}



