{% extends 'base.html' %}
{% load staticfiles %}  
{% load i18n%} 
 
{% block title %}{% if request.user == page_user %}
hohos - People who likes You
{% else %}
hohos - People who likes {{ page_user.profile.get_screen_name }}
{% endif %}
{% endblock %}

{% block head %}     
  <script type = "text/javascript" src = "{% static 'jquery/jqueryui.js' %}"></script>
  <link href="{% static 'css/profile.css' %}" rel="stylesheet">
  <link href="{% static 'css/feeds.css' %}" rel="stylesheet"> 
  <script src="{% static 'js/jquery.bullseye-1.0-min.js' %}"></script>
  <script src="{% static 'js/feeds_profile.js' %}"></script>
 
  <style type="text/css">  
.btn-compose,.my {background-color:#008080;} 
.mytext {color:#008080;}
.about {margin-top: 20px;}
.about li {color: #008080; list-style: none; margin-left: 50px; padding:3px;}
.about h3{color: green; margin-left: 35px;}
 /* .like{
    color:#337ab7;
  }  
  .unlike{ 
     color:#337ab7; 
  }*/
#downitems a {color: black;}
#downitems i {color: white;}


  </style>
{% endblock head %}    
 

{% block main %}

<div class="row"> 
  <div class="col-md-4 user-profile">
    <div class="page-header" >
    <h1 style="color:#00808">{{ page_user.profile.get_screen_name }} {% if page_user.get_full_name %}<small>({{ page_user.username }})</small>{% endif %}
      
    {% if page_user.is_authenticated %}
      {% if page_user == request.user %}
      <small>you are</small> <span style="color:green">Live</span>
      {% else %}
      <small>is</small> <span style="color:green">Live</span>
      {% endif %}
    {% endif %}
    </h1>
    </div>

    <div style="">
    {% if page_user.profile.get_picture %}
    <img src="{{ page_user.profile.get_picture }}" style="" class="img img-responsive">
    {% endif %}
    </div>

        <table style="margin-top:7px; margin-bottom:7px; margin-left:50px;">
        <tr>
        <th colspan="5" align="left">
      {% if page_user.profile.likes %}
        <button type="button" class="btn btn-danger" title="Like {{ page_user.profile.get_screen_name }} on live profile to share your feeling!!" style="color:pink;">
        <span  class="glyphicon glyphicon-heart"></span> 
        {% trans 'Likers' %} {{ page_user.profile.likes}}
        </button> 
      {% else %}
      {% endif %}


      {% if page_user.profile.likes_to %}
        <button type="button" class="btn btn-success" title="{{page_user}} is liking {{ page_user.profile.likes_to }} people!">
        <span  class="glyphicon glyphicon-heart"></span> 
        {% trans 'Likes to' %} {{ page_user.profile.likes_to }}
        </button>
      {% else %}
        <button type="button" class="btn btn-success" title="{{page_user}} is liking {{ page_user.profile.likes_to }} people!">
        <span  class="glyphicon glyphicon-heart"></span> 
        {% trans 'Likes to no one' %} 
        </button>
      {% endif %}
        </th>
        </tr>
        </table>

<ul class="about">

 {% if page_user.profile.status %}
  <hr style="border-color: lightgray;">
  <table>
    <tr>
      <th colspan="7" float="left">
        Status
      </th>
      <th style="color:green;">
      <!-- <i class='fa fa-openid fa-1x fa-fw' style="color:green;"></i> -->
      <span style="color:green; font-weight:bold; margin-left:10px;">{{page_user.profile.status}}</span>
      </th>
    </tr>
  </table>
   <hr style="border-color:lightgray; margin-top">
  {% endif %} 


  {% if page_user.profile.want_to_do %}
  <li>
    <i class='fa fa-dot-circle-o fa-1x fa-fw'></i>
    {{page_user.profile.want_to_do}}
  </li>
  {% endif %}

  {% if page_user.profile.job %}
  <li>
    <i class='fa fa-briefcase fa-1x fa-fw'></i>
    {{page_user.profile.job}}
  </li>
  {% endif %}

  {% if page_user.profile.institute %}
  <li>
    <i class='fa fa-university fa-1x fa-fw'></i>
    {{page_user.profile.institute}}
  </li>
  {% endif %}

  {% if page_user.profile.company %}
  <li>
    <i class='fa fa-company fa-1x fa-fw'></i>
    {{page_user.profile.company}}
  </li>
  {% endif %}

  {% if page_user.profile.birth_date %}
  <li>
    <i class='fa fa-birthday-cake fa-1x fa-fw'></i>
    {{page_user.profile.birth_date}}
  </li>
  {% endif %}

  {% if page_user.profile.home %}
  <li>
    <i class='fa fa-home fa-1x fa-fw'></i>
    {{page_user.profile.home}}
  </li>
  {% endif %}

  {% if page_user.profile.website %}
  <li>
    <i class='fa fa-external-link-square fa-1x fa-fw'></i>
    <a href="{{page_user.profile.get_website}}">{{page_user.profile.website}}</a>
  </li>
  {% endif %}

  {% if page_user.profile.email %}
  <li>
    <i class='fa fa-envelope fa-1x fa-fw'></i>
    {{page_user.profile.email}}
  </li>
  {% endif %}

  <h3><small><i class='fa fa-sign-language fa-1x fa-fw'></i></small>Social Life</h3>

  {% if page_user.profile.facebook %}
  <li>
    <i class='fa fa-facebook fa-1x fa-fw'></i>
    <a href="{{page_user.profile.get_facebook}}">
    {{page_user.profile.facebook}}</a>
  </li>
  {% endif %}

  {% if page_user.profile.quora %}
  <li>
    <i class='fa fa-quora fa-1x fa-fw'></i>
    <a href="{{page_user.profile.get_quora}}">
    {{page_user.profile.quora}}</a>
  </li>
  {% endif %}

  {% if page_user.profile.twitter %}
  <li>
    <i class='fa fa-twitter fa-1x fa-fw'></i>
    <a href="{{page_user.profile.get_twitter}}">
    {{page_user.profile.twitter}}</a>
  </li>
  {% endif %}

  {% if page_user.profile.linkedin %}
  <li>
    <i class='fa fa-linkedin fa-1x fa-fw'></i>
    <a href="{{page_user.profile.get_linkedin}}">
    </a>
  </li>
  {% endif %}

  {% if page_user == request.user %}
  <li>
    {% if page_user.profile.likes_to %}
    <i class='fa fa-heart fa-1x fa-fw'></i>
    You like <a href="{% url 'likes_to' page_user.username %}">
    {{page_user.profile.likes_to}} people
    </a> 
    {% endif %}
  </li> 
  {% else %}
  <li>
    {% if page_user.profile.likes_to %}
    <i class='fa fa-heart fa-1x fa-fw'></i>
    {{page_user.profile.get_screen_name}} likes 
    <a href="{% url 'likes_to' page_user.username %}">{{page_user.profile.likes_to}} people
    </a> 
    {% endif %}
  </li>
  {% endif %}

  {% if page_user == request.user %}
  <li>
    {% if page_user.profile.likes %}
    <i class='fa fa-heart fa-1x fa-fw'></i>
     <a href="{% url 'profile_likers' page_user.username %}">{{page_user.profile.likes}} people</a> like You
     {% endif %}
  </li> 
  {% else %}
  <li>
    {% if page_user.profile.likes %}
    <i class='fa fa-heart fa-1x fa-fw'></i>
     <a href="{% url 'profile_likers' page_user.username %}">{{page_user.profile.likes}} people</a> like
    {{page_user.profile.get_screen_name}}
    {% endif %}
  </li>
  {% endif %}

  {% if page_user.profile.likes_most %}
    {% if page_user == request.user %}
    <li>
      <i class='fa fa-heart fa-1x fa-fw'></i>
      You like {{page_user.profile.likes_most}} most
    </li> 
    {% else %}
    <li>
      <i class='fa fa-heart fa-1x fa-fw'></i>
      {{page_user.profile.get_screen_name}} likes {{page_user.profile.likes_most}} most
    </li>
    {% endif %}
  {% endif %}

  {% if page_user.profile.likes_not %}
    {% if page_user == request.user %}
    <li>
      <i class='fa fa-heart fa-1x fa-fw'></i>
      You like {{page_user.profile.likes_not}} not at all
    </li>
    {% else %}
    <li>
      <i class='fa fa-heart fa-1x fa-fw'></i>
      {{page_user.profile.get_screen_name}} likes {{page_user.profile.likes_not}} not at all
    </li>
    {% endif %}
  {% endif %}

</ul> 


</div>

  <div class="col-md-6">

    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-success alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    {{ message }}
    </div>
    {% endfor %}
    {% endif %}

   {% if request.user == page_user %}
   {% else %}
    <div id="profile-likes" class="pull-right">
    
    {% if not request.user in page_user.profile.get_likers %}
      <p style="color:#008080;">Like to interact with {{page_user.username}}</p> 
    {% else %}
     <p style="color:#008080;">{% trans 'You like ' %}{{page_user.profile.get_screen_name}}</p>
    {% endif %}
      
      <form role="form" id="like-form" >
      {% csrf_token %}
      <input type="hidden" name="profile_pk" value="{{page_user.profile.id}}" >
        {% if user in page_user.profile.get_likers %}
          <button style="color:white; font-size:12px;" class="like unlike btn btn-success">
            <span class="fa fa-thumbs-up fa-lg green"></span>
            <span class="text">{% trans 'Unlike' %}</span>
          </button>
        {% else %}
          <button style="color:white; font-size:12px;" class="like btn btn-danger">
            <span class="fa fa-thumbs-up fa-lg  green"></span>
            <span class="text">{% trans 'Like' %}</span>
          </button>
        {% endif %}
      </form>
     </div>

     {% endif %}

        <ul style="margin-top:30px; margin-bottom:0px; font-weight:bold; color:#008080;">
         
        {% if request.user == page_user %}
          <li><a href="{% url 'userfeeds' page_user.username %}">{% trans 'Your activities' %}</a></li>
        {% else %}  
          <li><a href="{% url 'userfeeds' page_user.username %}">{{page_user.username}}{% trans "'s activities" %}</a></li>
        {% endif %}

        {% if page_user.profile.status %}
      <table>
        <tr>
          <th colspan="10" float="left"><div><i style="margin-left: 10px;color:green;" class='fa fa-openid fa-2x fa-fw'></th>
          <!-- <th colspan="10" float="left"><div><i style="color: #008080;" class='fa fa-refresh fa-spin fa-1x fa-fw'></i></th> -->
          <th colspan="10" float="center" style="color:green;"> <span style="font-weight:bold; color:green;">
          {{page_user.profile.status}}
          </span></th>
        </tr>
      </table>
        {% endif %}

          
          {% if page_user.profile.want_to_do %}
          <li>
           <i class='fa fa-dot-circle-o fa-1x fa-fw'></i>
           {{page_user.profile.want_to_do}}
           </li>
           {% endif %}

        </ul><br>
       


<!--   for profile likers  -->


        <hr style="border-color:lightgray;">     

  {% if likes_to_users %}

    {% for user in likes_to_users %}

      {% if user != page_user %}

 <table>
  
  <tr>
    <th colspan="5" float="left">
      <span style="font-weight:bold;"><a href="{% url 'profile' user.username %}" style="color:gray; text-align:center;">{{user.profile.get_screen_name}}</a></span>
      <a href="{% url 'profile' user.username %}">
        <img src="{{user.profile.get_picture}}" class="img img-responsive" alt="image" style="height:200px; min-width:200px;">
      </a>

       <table style="margin-top:7px; margin-bottom:7px; margin-left:0px;">
        <tr>
        <th colspan="5" align="left">
      {% if user.profile.likes %}
        <button type="button" class="btn btn-danger btn-sm" title="Like {{ user.profile.get_screen_name }} on live profile to share your feeling!!" style="color:pink;">
        <span  class="glyphicon glyphicon-heart"></span> 
        {% trans 'Likers' %} {{ user.profile.likes}}
        </button> 
      {% else %}
      {% endif %}


      {% if user.profile.likes_to %}
        <button type="button" class="btn btn-success btn-sm" title="{{user}} is liking {{ user.profile.likes_to }} people!">
        <span  class="glyphicon glyphicon-heart"></span> 
        {% trans 'Likes to' %} {{ user.profile.likes_to }}
        </button>
      {% else %}
        <button type="button" class="btn btn-success btn-sm" title="{{user}} is liking {{ user.profile.likes_to }} people!">
        <span  class="glyphicon glyphicon-heart"></span> 
        {% trans 'Likes to no one' %} 
        </button>
      {% endif %}

     {% if user.profile.status %}
      <hr style="border-color: lightgray; margin-bottm:-10px;">
        <table>
          <tr>
            <th colspan="7" float="left">
            Status
          </th>
          <th style="color:green;">
          <!-- <i class='fa fa-openid fa-1x fa-fw' style="color:green;"></i> -->
          <span style="color:green; font-weight:bold; margin-left:10px;">{{user.profile.status}}</span>
          </th>
          </tr>
        </table>
      <hr style="border-color:lightgray;">
      {% else %}
      {% endif %}
        </th>
        </tr>
        </table>
    </th> 

    <th colspan="10">
      <ul class="about" style="min-width:300px;">
        <li>
        <i class='fa fa-user fa-1x fa-fw'></i>
         <a href="{% url 'profile' user.username %}" style="color:gray;">{% trans 'Interact with ' %}{{user.username}}</a>
         <hr style="border-color:lightgray; margin-bottom:2px; margin-top:2px;" >
        </li>


  {% if user.profile.want_to_do %}
  <li>
    <i class='fa fa-dot-circle-o fa-1x fa-fw'></i>
    {{user.profile.want_to_do}}
  </li>
  {% endif %}

  {% if user.profile.job %}
  <li>
    <i class='fa fa-briefcase fa-1x fa-fw'></i>
    {{user.profile.job}}
  </li>
  {% endif %}

  {% if user.profile.institute %}
  <li>
    <i class='fa fa-university fa-1x fa-fw'></i>
    {{user.profile.institute}}
  </li>
  {% endif %}

  {% if user.profile.company %}
  <li>
    <i class='fa fa-company fa-1x fa-fw'></i>
    {{user.profile.company}}
  </li>
  {% endif %}

  {% if user.profile.birth_date %}
  <li>
    <i class='fa fa-birthday-cake fa-1x fa-fw'></i>
    {{user.profile.birth_date}}
  </li>
  {% endif %}

  {% if user.profile.home %}
  <li>
    <i class='fa fa-home fa-1x fa-fw'></i>
    {{user.profile.home}}
  </li>
  {% endif %}

  {% if user.profile.website %}
  <li>
    <i class='fa fa-external-link-square fa-1x fa-fw'></i>
    <a href="{{user.profile.get_website}}">{{user.profile.website}}</a>
  </li>
  {% endif %}

  {% if user.profile.email %}
  <li>
    <i class='fa fa-envelope fa-1x fa-fw'></i>
    {{user.profile.email}}
  </li>
  {% endif %}

  <h3><small><i class='fa fa-sign-language fa-1x fa-fw'></i></small>Social Life</h3>

  {% if user.profile.facebook %}
  <li>
    <i class='fa fa-facebook fa-1x fa-fw'></i>
    <a href="{{user.profile.get_facebook}}">
    {{user.profile.facebook}}</a>
  </li>
  {% endif %}

  {% if user.profile.quora %}
  <li>
    <i class='fa fa-quora fa-1x fa-fw'></i>
    <a href="{{user.profile.get_quora}}">
    {{user.profile.quora}}</a>
  </li>
  {% endif %}

  {% if user.profile.twitter %}
  <li>
    <i class='fa fa-twitter fa-1x fa-fw'></i>
    <a href="{{user.profile.get_twitter}}">
    {{user.profile.twitter}}</a>
  </li>
  {% endif %}

  {% if user.profile.linkedin %}
  <li>
    <i class='fa fa-linkedin fa-1x fa-fw'></i>
    <a href="{{user.profile.get_linkedin}}">
    </a>
  </li>
  {% endif %} 


  {% if user == request.user %}
  <li>
    {% if user.profile.likes_to %}
    <i class='fa fa-heart fa-1x fa-fw'></i>
    You like <a href="{% url 'likes_to' user.username %}">
    {{user.profile.likes_to}} people
    </a> 
    {% endif %}
  </li> 
  {% else %}
  <li>
    {% if user.profile.likes_to %}
    <i class='fa fa-heart fa-1x fa-fw'></i>
    {{user.profile.get_screen_name}} likes 
    <a href="{% url 'likes_to' user.username %}">{{user.profile.likes_to}} people
    </a> 
    {% endif %}
  </li>
  {% endif %}

  {% if user == request.user %}
  <li>
    {% if user.profile.likes %}
    <i class='fa fa-heart fa-1x fa-fw'></i>
     <a href="{% url 'profile_likers' user.username %}">{{user.profile.likes}} people</a> like You
     {% endif %}
  </li> 
  {% else %}
  <li>
    {% if user.profile.likes %}
    <i class='fa fa-heart fa-1x fa-fw'></i>
     <a href="{% url 'profile_likers' user.username %}">{{user.profile.likes}} people</a> like
    {{user.profile.get_screen_name}}
    {% endif %}
  </li> 
  {% endif %}
  

  {% if user.profile.likes_most %}
    {% if user == request.user %}
    <li>
      <i class='fa fa-heart fa-1x fa-fw'></i>
      You like {{user.profile.likes_most}} most
    </li> 
    {% else %}
    <li>
      <i class='fa fa-heart fa-1x fa-fw'></i>
      {{user.profile.get_screen_name}} likes {{user.profile.likes_most}} most
    </li>
    {% endif %}
  {% endif %}

  {% if user.profile.likes_not %}
    {% if user == request.user %}
    <li>
      <i class='fa fa-heart fa-1x fa-fw'></i>
      You like {{user.profile.likes_not}} not at all
    </li>
    {% else %}
    <li>
      <i class='fa fa-heart fa-1x fa-fw'></i>
      {{user.profile.get_screen_name}} likes {{user.profile.likes_not}} not at all
    </li>
    {% endif %}
  {% endif %}

</ul> 
    </th>
  </tr>
</table> <hr style="border-color:lightgray;" >

        {% endif %}
     {% endfor %}
  {% endif %}
 
  </div>      
</div>
<!--  theres a table with one row which has two colms 5 and 10 width
  <table>
  <tr>
    <th>
      contains image and status
    </th>
    <th>
      contains other info of likers
    </th>
  </tr>
  </table>
 -->
{% endblock main %}




