{% extends 'base.html' %}
{% load staticfiles %}  
{% load i18n%} 
 
{% block title %}
{% trans 'hohos - Hoooohos' %}
{% endblock %}

{% block head %}    
  <style type="text/css">  
.btn-compose,.my {background-color:#008080;}  
.mytext {color:#008080;}
.about {margin-top: 0px;}
.about li {color: #008080; list-style: none; margin-left: 50px;}
.about h3{color: green; margin-left: 35px;}
 /* .like{
    color:#337ab7;
  }  
  .unlike{  
     color:#337ab7; 
  }*/
#downitems a {color: black;}
#downitems i {color: white;}


  </style>
{% endblock %}    
 


{% block main %}

<div class="row"> 
  <div class="col-md-6 col-md-offset-3">

<!--   for profile likers  -->    

<h1 style="color:#008080; text-align:center;">See other hohosss....</h1>
<hr style="border-color:lightgray; border-width:5px;" >

    {% for user in users %}

 <table style="min-height:700px; overflow:scroll;">
  
  <tr>
    <th colspan="5" float="left">
      <span style="font-weight:bold;"><a href="{% url 'profile' user.username %}" style="color:gray; text-align:center;">{{user.profile.get_screen_name}}</a></span>
      <a href="{% url 'profile' user.username %}">
        <img src="{{user.profile.get_picture}}" class="img img-responsive" alt="image" style="height:200px; min-width:200px;">
      </a>
  
       <table style="margin-top:7px; margin-bottom:7px; margin-left:0px;">
        <tr>
        <th colspan="5" align="left">

      {% if user.profile.likes %}
        <button type="button" class="btn btn-danger btn-sm" title="Like {{ user.profile.get_screen_name }} on live profile to share your feeling!!" style="color:pink;">
        <span  class="glyphicon glyphicon-heart"></span> 
        {% trans 'Likers' %} {{ user.profile.likes}}
        </button> 
      {% else %}
      {% endif %}


        <button type="button" class="btn btn-success btn-sm">
        <span  class="glyphicon glyphicon-heart"></span> 
        {% trans 'Likes to' %} {{user.profile.likes_to}} 

        </button>


     {% if user.profile.status %}
      <hr style="border-color: lightgray; margin-bottm:-10px;">
        <table>
          <tr>
            <th colspan="7" float="left">
            Status
          </th>
          <th style="color:green;">
          <!-- <i class='fa fa-openid fa-1x fa-fw' style="color:green;"></i> -->
          <span style="color:green; font-weight:bold; margin-left:10px;">{{user.profile.status}}</span>
          </th>
          </tr>
        </table>
      <hr style="border-color:lightgray;">
      {% else %}
      {% endif %}
        </th>
        </tr>
        </table>

    </th> 

    <th colspan="10">
      <ul class="about" style="min-width:300px;">
        <li>
        <i class='fa fa-user fa-1x fa-fw'></i>
         <a href="{% url 'profile' user.username %}" style="color:gray;">{% trans 'Interact with ' %}{{user.username}}</a>
         <hr style="border-color:lightgray; margin-bottom:2px; margin-top:2px;" >
        </li>

      {% if user.profile.want_to_do %}
        <li>
          <i class='fa fa-dot-circle-o fa-1x fa-fw'></i>
          {{user.profile.want_to_do}}
        </li>
      {% endif %}

  {% if user.profile.job %}
  <li>
    <i class='fa fa-briefcase fa-1x fa-fw'></i>
    {{user.profile.job}}
  </li>
  {% endif %}


  {% if user.profile.institute %}
  <li>
    <i class='fa fa-university fa-1x fa-fw'></i>
    {{user.profile.institute}}
  </li>
  {% endif %}


  {% if user.profile.company %}
  <li>
    <i class='fa fa-company fa-1x fa-fw'></i>
    {{user.profile.company}}
  </li>
  {% endif %}

  {% if user.profile.birth_date %}
  <li>
    <i class='fa fa-birthday-cake fa-1x fa-fw'></i>
    {{user.profile.birth_date}}
  </li>
  {% endif %}


  {% if user.profile.home %}
  <li>
    <i class='fa fa-home fa-1x fa-fw'></i>
    {{user.profile.home}}
  </li>
  {% endif %}


  {% if user.profile.website %}
  <li>
    <i class='fa fa-external-link-square fa-1x fa-fw'></i>
    <a href="{{user.profile.get_website}}">{{user.profile.website}}</a>
  </li>
  {% endif %}


  {% if user.profile.email %}
  <li>
    <i class='fa fa-envelope fa-1x fa-fw'></i>
    {{user.profile.email}}
  </li>
  {% endif %}


  <h3><small><i class='fa fa-sign-language fa-1x fa-fw'></i></small>Social Life</h3>

  {% if user.profile.facebook %}
  <li>
    <i class='fa fa-facebook fa-1x fa-fw'></i>
    <a href="{{user.profile.get_facebook}}">
    {{user.profile.facebook}}</a>
  </li>
  {% endif %}


  {% if user.profile.quora %}
  <li>
    <i class='fa fa-quora fa-1x fa-fw'></i>
    <a href="{{user.profile.get_quora}}">
    {{user.profile.quora}}</a>
  </li>
  {% endif %}


  {% if user.profile.twitter %}
  <li>
    <i class='fa fa-twitter fa-1x fa-fw'></i>
    <a href="{{user.profile.get_twitter}}">
    {{user.profile.twitter}}</a>
  </li>
  {% endif %}



  {% if user.profile.likes_most %}
    {% if user == request.user %}
    <li>
      <i class='fa fa-heart fa-1x fa-fw'></i>
      You like <span style="color:green;">{{user.profile.likes_most}}</span> most
    </li> 
    {% else %}
    <li>
      <i class='fa fa-heart fa-1x fa-fw'></i>
      {{user.profile.get_screen_name}} likes <span style="color:green;">{{user.profile.likes_most}}</span> most
    </li>
    {% endif %}
  {% endif %}


  {% if user.profile.likes_not %}
    {% if user == request.user %}
    <li>
      <i class='fa fa-heart fa-1x fa-fw'></i>
      You like <span style="color:green;">{{user.profile.likes_not}}</span> not at all
    </li>
    {% else %}
    <li>
      <i class='fa fa-heart fa-1x fa-fw'></i>
      {{user.profile.get_screen_name}} likes <span style="color:green;">{{user.profile.likes_not}}</span> not at all
    </li>
    {% endif %}
  {% endif %}


      </ul> 
    </th>

  </tr>
</table> <hr style="border-color:lightgray; border-width:5px;" >

     {% endfor %}
 
  </div>      
</div>

{% endblock %}




