{% extends 'base.html' %}
{% load staticfiles %}   
{% load i18n%} 
  
{% block title %}
hohos - {{ page_user.profile.get_screen_name }} {% endblock %} 

{% block head %}   
  <script type = "text/javascript" src = "{% static 'jquery/jqueryui.js' %}"></script>
  <link href="{% static 'css/profile.css' %}" rel="stylesheet">
  <link href="{% static 'css/feeds.css' %}" rel="stylesheet"> 
  <script src="{% static 'js/jquery.bullseye-1.0-min.js' %}"></script>
  <script src="{% static 'js/feeds_profile.js' %}"></script>

  <style type="text/css">     
.my {background-color:#008080;} 
.mytext {color:#008080;}
.greentext{color: green;}
.aboutuser {margin-top: 20px;} 
.aboutuser li {color: #008080; list-style: none; margin-left: 50px; padding:3px;}
.aboutuser h3{color: green; margin-left: 35px;}

.like{ font-weight: bold; font-size:13px; color: gray; }
.unlike { font-weight: bold; color: #008080; font-size:12px; }
.post a { text-decoration: none; }
.post a:hover { color: #008080; }

.center {  
  display: flex;
  align-items: center; 
  justify-content: center;
}

  </style>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-9853052969558014",
    enable_page_level_ads: true
  });
</script>
{% endblock head %}   
 
 
{% block main %}   


  <div class="col-md-4 user-profile">
    <div class="page-header center" >
    <h1 style="color:#00808">{{ page_user.profile.get_screen_name }} {% if page_user.get_full_name %}<small>({{ page_user.username }})</small>{% endif %}
      
<!--     {% if page_user.is_authenticated %}
      {% if page_user == request.user %}
      <small>you are</small> <span style="color:green">Live</span>
      {% else %}
      <small>is</small> <span style="color:green">Live</span>
      {% endif %}
    {% endif %} -->
    </h1>
    </div>

    <div style="" class="center">
    {% if page_user.profile.get_picture %}
    <a href="{% url 'profile' page_user.username %}">
      <img src="{{ page_user.profile.get_picture }}" style="" class="img img-responsive">
    </a>
    {% endif %}
    </div>

        <table style="margin-top:7px; margin-bottom:7px;" class="center">
        <tr>
        <th colspan="5" align="left">
      {% if page_user.profile.likes %}
        <button type="button" class="btn btn-danger" title="Like {{ page_user.profile.get_screen_name }} on live profile to share your feeling!!" style="color:pink;">
        <span  class="glyphicon glyphicon-heart"></span> 
        {% trans 'Likers' %} {{ page_user.profile.likes}}
        </button> 
      {% else %}
      {% endif %}


      {% if page_user.profile.likes_to %}
        <button type="button" class="btn btn-success" title="{{page_user}} is liking {{ page_user.profile.likes_to }} people!">
        <span  class="glyphicon glyphicon-heart"></span> 
        {% trans 'Likes to' %} {{ page_user.profile.likes_to }}
        </button>
      {% else %}
        <button type="button" class="btn btn-success" title="{{page_user}} is liking {{ page_user.profile.likes_to }} people!">
        <span  class="glyphicon glyphicon-heart"></span> 
        {% trans 'Likes to no one' %} 
        </button>
      {% endif %}
        </th>
        </tr>
        </table>

<ul class="aboutuser">
 {% include 'core/about_user.html' %}
</ul> 


</div>

  <div class="col-md-6">

<!-- 
{% with request.user.get_profile as profile %}

 <table>
   <tr><th>Last Seen</th><td>{% if profile.last_seen %}{{ profile.last_seen|timesince }}{% else %}awhile{% endif %} ago</td></tr>
   <tr><th>Online</th><td>{{ profile.online }}</td></tr>
 </table>

{% endwith %} -->

    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-success alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    {{ message }}
    </div>
    {% endfor %}
    {% endif %}  


<!--       <span class="center"><button class="btn" style="background-color: #40E0D0; color: green; font-weight: bold;"> If You could do it better? <i class="fa fa-hand-o-down fa-1x"></i> </button></span>
      <br> -->

      {% if request.user == page_user and not page_user.profile.is_product %}
        {% if not page_user.email %}
        <span class="center"><button class="btn" style="background-color: #40E0D0; color: green; font-size: 12px;"> Please Fill in your Email Address, We may need this to inform you about various activites going on about you on hohos <a href="{% url 'settings_human' %}">Fill</a></button></span>

        {% elif not page_user.first_name or not page_user.last_name %}
          <span class="center"><button class="btn" style="background-color: #40E0D0; color: green; font-size: 12px;"> Whats Your name? <a href="{% url 'settings_human' %}">Tell</a></button></span>
        
        {% elif not page_user.profile.institute %}
          <span class="center"><button class="btn" style="background-color: #40E0D0; color: green; font-size: 12px;"> Please Fill in your Institute,This will help your friends find you <a href="{% url 'settings_human' %}">Fill</a></button></span>
        
        {% elif not page_user.profile.status %}
          <span class="center"><button class="btn" style="background-color: #40E0D0; color: green; font-size: 12px;"> Make a cool status for you <a href="{% url 'settings_human' %}">Fill</a></button></span>
        
        {% elif not page_user.profile.birth_date %}
          <span class="center"><button class="btn" style="background-color: #40E0D0; color: green; font-size: 12px;"> What is your Date of Birth? <a href="{% url 'settings_human' %}">Whats it? </a>

          </button></span>

        {% elif not page_user.profile.home %}
          <span class="center"><button class="btn" style="background-color: #40E0D0; color: green; font-size: 12px;"> Where do you live <a href="{% url 'settings_human' %}">Your Home?</a></button></span>

        {% endif %}
      {% endif %}

<!-- <i class="fa fa-hand-o-right fa-1x"></i> -->

   {% if request.user == page_user or not request.user.is_authenticated %}
   {% else %}
    <div id="profile-likes" class="pull-right">
    
    {% if page_user in request.user.profile.get_likers %}
     <p style="color:#008080;">{{page_user.profile.get_screen_name}}{% trans ' likes You' %}</p>
    {% endif %}
      
      <form role="form" id="like-form" >
      {% csrf_token %}
      <input type="hidden" name="profile_pk" value="{{page_user.profile.id}}" >
        {% if user in page_user.profile.get_likers %}
          <button style="color:white; font-size:12px;" class="like unlike btn btn-danger">
            <span class="fa fa-thumbs-up fa-lg green"></span>
            <span class="text">{% trans 'Liked' %}</span>
            (<span class="like-count">{{ page_user.profile.likes }}</span>)
          </button>
          <span class="greentext">{{page_user.profile.get_screen_name}}</span>
        {% else %}
          <button style="color:white; font-size:12px;" class="like btn btn-success">
            <span class="fa fa-thumbs-up fa-lg  green"></span>
            <span class="text">{% trans 'Like' %}</span>
            (<span class="like-count">{{ page_user.profile.likes }}</span>)
          </button>
          <span class="greentext">{{page_user.profile.get_screen_name}}</span>
        {% endif %}
      </form>
     </div>

     {% endif %}

        <ul style="margin-top:30px; margin-bottom:0px; font-weight:bold; color:#008080; list-style: none;">
       
        {% if request.user == page_user %}
          <a href="{% url 'profile_talks_by_page_user' page_user.username %}" style="color: violet;">{% trans 'Your activities' %}
          </a> <br> <a href="{% url 'challenges_for_page_user' page_user.username %}">{% trans 'Challenges for You' %}</a> <br>
        {% else %}  
          <a href="{% url 'profile_talks_by_page_user' page_user.username %}" style="color: violet;">{{page_user.username}}{% trans "'s activities" %}</a>
          <br> <a href="{% url 'challenges_for_page_user' page_user.username %}">{% trans 'Challenges for ' %} {{page_user.profile.get_screen_name}}</a> <br>
        {% endif %} 

        {% if page_user.profile.status %}
          <span style="color: green;"> Status -</span>  
          {{page_user.profile.status}}<br>
        {% endif %}
          
          {% if page_user.profile.want_to_do %}
           <span style="color: green;">Aim -</span>
           {{page_user.profile.want_to_do}}<br>
           {% endif %}

        </ul><br>

        <hr style="border-color:lightgray;">

        {% if request.user.is_authenticated %}
          {% include 'core/profile_feed_compose.html' %}
        {% else %}
            <p style="color: #008080; text-align: center;"><a href="{% url 'login' %}"> Login </a> to interact with {{page_user.profile.get_screen_name}}</p>
            <hr style="border-color:lightgray;">
        {% endif %}

<!--           <div class="stream-update">
            <a href="#"><span class="new-posts"></span> {% trans 'new Talks' %}</a>
          </div> -->
 
          <ul style="" class="stream">
            {% for feed in profile_feeds %}
            {% include 'feeds/partial_feed_profile_page_user.html' with feed=feed %}
            {% endfor %}
          </ul>
 
          <div class="load">
          <i class="fa fa-spinner fa-spin fa-1x"></i>
          </div>
          
           <form method="get" action="{% url 'load' %}" id="load_feed" autocomplete="off"> 
           
            <input type="hidden" name="profile_pk" id="profile_pk" value="{{page_user.profile.pk}}">
            <input type="hidden" name="feed_source" id="feed_source" value="user_profile_feeds">
            <input type="hidden" name="from_feed" value="{{ from_feed }}">
            <input type="hidden" name="page" value="{{ page }}">
          
          </form>
        </div>      

 
{% endblock main %}

{% block js %}

<script type="text/javascript">
  var load_feeds = function () {
    if (!$("#load_feed").hasClass("no-more-feeds")) {
      var page = $("#load_feed input[name='page']").val();
      var next_page = parseInt($("#load_feed input[name='page']").val()) + 1;
      $("#load_feed input[name='page']").val(next_page);
      $.ajax({
        url: '/feeds/load/',
        data: $("#load_feed").serialize(),
        cache: false,
        beforeSend: function () {
          $(".load").show();
        },
        success: function (data) {
          if (data.length > 0) {
              $("ul.stream").append(data);
          }
          else {
            $("#load_feed").addClass("no-more-feeds");
          }
        },
        complete: function () {
          $(".load").hide();
        }
      });
    } 
  };

  $("#load_feed").bind("enterviewport", load_feeds).bullseye();
</script>

<script type="text/javascript">
  
  $(".btn-post").click(function () {
    // var last_feed = $(".stream li:first-child").attr("feed-id");
    // if (last_feed == undefined) {
    //   last_feed = "0";
    // }
    // $("#compose-form input[name='last_feed']").val(last_feed);
    var to_user = $("#compose-form input[name='to_user']").val();
    var post = $("#compose-form textarea[name='post']").val();

    if(to_user !="" && post!=""){
    $.ajax({
      url: '/feeds/post/',
      data: $("#compose-form").serialize(),
      type: 'post', 
      cache: false,
      success: function (data) {
        $("ul.stream").prepend(data);
        $("#compose-form textarea[name='post']").val('');
        $(".compose").slideUp(900);
        $(".compose").removeClass("composing");
        //hide_stream_update();
      }
    }),

    $.ajax({
      url: '/feeds/post/email/',
      data: $("#compose-form").serialize(),
      type: 'post', 
      cache: false,
      success: function (data) {
        // $("ul.stream").prepend(data);
        // $("#compose-form textarea[name='post']").val('');
        // $(".compose").slideUp(900);
        // $(".compose").removeClass("composing");
        //hide_stream_update();
      }
    });
    }

  });

</script>


{% endblock js %}


