{% extends 'base.html' %}
{% load crispy_forms_tags %} 
{% load i18n %}
{% get_available_languages as LANGUAGES %}
{% get_current_language as CURRENT_LANGUAGE %}

{% block title %} hohos - Settings, make your profile attractive @ hohos{% endblock %}

{% block head %}
<style type="text/css"> 
.my {
  background-color: #008080;
  color: white; 
}
.green {color: green;}
.white {color: white;}
.mytext{ color: #008080;}

#downitems a {color: black;}   
#downitems i {color: white;} 

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #008080;
  text-align: center;
}

.footer a { color: black; }
.footer i {color: white;}

</style> 
{% endblock %}  

{% block main %}
  <div class="page-header mytext">
    <table>
    <tr>
    <th> 
    <i style="color: #008080;" class='fa fa-superpowers fa-2x fa-fw'></i>
    </th>
    <th>
      <h1>{% trans 'Account Settings' %} : <span class="green">{{page_user.profile.get_screen_name}}</span></h1> 
    </th> 
    </tr>
  </table>

  <!--       this url will be set to a constant
      account of hohos so, it will be done when its launched  --> 
      <a type="button" href="{% url 'profile' 'hohoshelp' %}" class="pull-right  btn btn-info btn-sm"><small>Any Problem?</small></a>
  </div><hr style="border-color:#008080;">

  <div class="row" style="margin-top: 2em">

    <div class="col-md-3" style="margin-top:45px;">
      {% include 'core/partial_settings_menu.html' with active='profile' %}

      <img src="{{request.user.profile.get_picture}}" class="img img-responsive" >
      <span class="mytext" style="font-weight:bold; margin-top:40px; margin-left:50px;">
      <i class="fa fa-user fa-1x fa-fw"></i>
      {{request.user.profile.get_screen_name}}
      </span>

      <hr style="border-color:#008080;" >

      <table>
        <tr>
          <th colspan="10" float="left"><div><i style="margin-left: 10px;color:green;" class='fa fa-openid fa-2x fa-fw'></th>
          <th colspan="10" float="left"><div><i style="color: #008080;" class='fa fa-refresh fa-1x fa-fw'></i></th>
          <th colspan="10" float="center" style="color:green;"> <span style="font-weight:bold; color:green;">
          {% if request.user.profile.status %}{{request.user.profile.status}}{% endif %}
          </span></th>
        </tr>
      </table>


      {% include 'core/about_this_user.html' %}

      <hr class="hr" style="margin-top: 20px;">
      <a href="{% url 'home' %}"><h1 style="color: black; text-align: center; font-size: 70px;">hohos</h1></a>

      <div style="text-align: center;">
      <div class="fb-like" data-href="https://www.facebook.com/hohosguys/" data-layout="button_count" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>
      </div>

      <hr class="hr">

      <small style="color: white; "><a href="{% url 'home' %}">Home |</a><a href="{% url 'about' %}">About |</a><a href="{% url 'contact' %}">Contact Us |</a><a href="{% url 'privacy' %}">Privacy Policy |</a><a href="{% url 'tos' %}">Terms </a></small>
      <small>Copyright © 2017 hohos. All rights reserved.</small>

      <br><br>
      
    </div>



    <div class="col-md-5 col-md-offset-2">
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {{ message }} 
          </div>
        {% endfor %}
      {% endif %}
      <h3 style="margin-top: 0; ">{% trans 'Edit Profile' %}</h3>
      <form role="form" class="form-horizontal" method="post" action="{% url 'settings_human' %}">
        {% csrf_token %}
<!--         {% for field in form.visible_fields %}
          <div class="form-group{% if field.errors %} has-error{% endif %}">
            <label for="{{ field.label }}" class="col-sm-2 control-label">{{ field.label }}</label>
            <div class="col-sm-10">
              
              {% if field.help_text %}
                <span class="help-block">{{ field.help_text }}</span>
              {% endif %}
              {% for error in field.errors %}
                <label class="control-label">{{ error }}</label>
              {% endfor %}
            </div>
          </div>
        {% endfor %} -->
        {{ form|crispy }}
        {% comment %} 
        <div class="form-group">
          <label for="language" class="col-sm-2 control-label">Language</label>
          <div class="col-sm-10">
            <select id="language" name="language" class="form-control">
              {% for lang in LANGUAGES %}
                <option value="{{ lang.0 }}">{{ lang.1 }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        {% endcomment %}
        <div class="form-group">
          <div>
            <button style="width:100px;" type="submit" class="my btn btn-success">{% trans 'Save' %}</button>
          </div>
          <small style="color:gray">use date format yyyy-mm-dd </small>
        </div>
      </form>
    </div>
  </div>
{% endblock main %}


{% block footer %}

<!-- <footer class="footer">
<p style="text-align:center;">
  
  <a href="{% url 'contact' %}"><i class="fa fa-volume-control-phone fa-1x fa-fw"></i>Contact</a> | 
  <a href="https://www.linkedin.com/in/hohos-guys-48082313a/"><i class="fa fa-linkedin fa-1x fa-fw"></i>LinkedIn</a> | 
  <a href="https://www.facebook.com/Hohos-1825301447690434/"><i class="fa fa-facebook fa-1x fa-fw"></i>Facebook</a> | 
  <a href="https://twitter.com/hohosguys"><i class="fa fa-twitter fa-1x fa-fw"></i>Twitter</a> | 
  <a href="https://www.quora.com/profile/Hohos-Guys"><i class="fa fa-quora fa-1x fa-fw"></i>Quora</a> | 
  <a href="https://plus.google.com/u/0/114682388073028099952"><i class="fa fa-google-plus fa-1x fa-fw"></i>Google+</a> 
        
  <div class="fb-like" data-href="https://www.facebook.com/hohosguys/" data-layout="button_count" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>

</p>
</footer> -->

 {% endblock %} 
