{% load staticfiles %} 
{% load i18n%}
 
      <div style="margin-bottom: -15px;">  
       <div class="page-header"> <br>
       <span class="center">
        <button class="btn btn-compose" title="{% trans 'Click to open or close post box' %}" style="background-color: #9932CC; color: white;">
        <table>
          <tr>
            <td>
              Openchat, Whats up {{user.profile.get_screen_name}} (
            </td>
            <td>
            <img src="{{user.profile.get_picture}}" style="max-width: 40px; max-height: 40px; margin-left: -10px; border-radius: 50%; margin-left: 5px;" class="img img-responsive">
            </td>
          </tr> 
        </table>
        </button>   
        </span>       
        </div>    

        <div class="panel panel-default panel-feed" style="border-color: #008080;">
        <div class="panel-body">

          <div class="compose">
            <form  role="form" id="compose-form" enctype="multipart/form-data">
              {% csrf_token %} 

              <table class="center"> <br>
              <tr>
                <td>
                  <img src="{{request.user.profile.get_picture}}" style="max-width: 30px; max-height: 30px; border-radius: 50%; margin-right: 10px;" class="img img-responsive">
                </td>
                <td>
                  <span style="color: gray;">{% trans "Say something about " %}<i class="fa fa-arrow-right fa-1x"></i></span>     
                </td>
                <td>
                  <input type="text" class="typeahead" name="to_user" id="to_user" placeholder="user" style="margin-left: 15px;" required="true">
                </td>
              </tr>
              </table><br>

<!--               <input type="hidden" name="last_feed"> -->
              <!-- <input type="hidden" name="profile_pk" value=""> -->
              <input type="hidden" name="mail_type" value="profile_talk_mail">
              <input type="hidden" name="is_product_feed" value="0">
              
              <div class="form-group">
                <textarea class="form-control" required="true" style=" max-width: 520px;" name="post"></textarea>
              </div>
              <div class="form-group center">   
                      
                <button type="button" class="btn btn-success btn-post" style="width: 150px; margin-right: 10px;">
                  <span class="glyphicon glyphicon-send"></span> {% trans 'Say!' %}
                </button>
                <button type="button" class="btn btn-default btn-cancel-compose">{% trans 'Cancel' %}</button>
              </div>
            </form>
           </div>
          </div>
         </div> 
        </div>

