{% extends 'base.html' %}
{% load staticfiles %}    
{% load i18n %} 

{% block title %}hohos - Share your new style{% endblock %}

{% block head %}  
  
  <link href="{% static 'css/feeds.css' %}?v=1" rel="stylesheet">
  <link href="{% static 'css/feeds_sidebar.css' %}?v=1" rel="stylesheet">

  <script src="{% static 'js/jquery.bullseye-1.0-min.js' %}"></script>
  <script src="{% static 'js/feeds.js' %}?v=1"></script>

<style type="text/css">
.my {background-color:#008080;}
.mytext{color:#008080;} 

ul.stream li div.feed-container:hover{
  cursor: pointer; 
  background-color: #f5f8fa;   
} 

ul.stream_sidebar li div.feed-container:hover{
  cursor: pointer;
  background-color: #f5f8fa;     
} 

.center {
  display: flex;
  align-items: center; 
  justify-content: center;
}


/* searchusers */


.typeahead, .tt-query, .tt-hint {
  border: 1px solid #CCCCCC;
  border-radius: 5px;
  font-size: 1.2em;
  height: 35px;
  line-height: 35px;
  outline: medium none;
  padding: 4px 12px;
  width: 150px;
}
.typeahead {
  background-color: #FFFFFF;
  border-radius: 10px;
}
.typeahead:focus {
  border: 2px solid #0097CF;
}
.tt-query {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}

.tt-hint {
  color: #999999;
}

.tt-dropdown-menu {
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  margin-top: 5px;
  padding: 8px 0;
  width: 200px;
  max-height: 100px;
  overflow: scroll;
}
.tt-suggestion {
  font-size: 1em;
  line-height: 20px;
  padding: 3px 20px;
  color: #008080;
}
.tt-suggestion { cursor: pointer; }

.tt-suggestion.tt-cursor {
  background-color: #0097CF;
  color: #FFFFFF;
}
.tt-suggestion p {
  margin: 0;
}

input[name="to_user"]{
    /*background: url("{% static 'img/search.png' %}") no-repeat 10px 6px #fcfcfc;*/
/*    border: 1px solid #d1d1d1;
    font: 14px Arial,Helvetica,Sans-serif ;
    color: #bebebe;
    width: 180px;
    padding: 6px 15px 6px 35px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;*/
/*    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);*/
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
/*    background-color: #008080;*/
    }


input[name="to_user"]:focus {
    width: 200px;
    }

.like{ font-weight: bold; font-size:13px; color: gray; }
.unlike { font-weight: bold; color: #008080; font-size:12px; }
.post a { text-decoration: none; }
.post a:hover { color: #008080; }
</style>


{% endblock head %}    
    

{% block main_fluid %}

      <div class="col col-md-2" style="max-height:800px; overflow: scroll; margin-left:55px;">
        <ul class="stream_sidebar">
          <li style="margin-bottom:-30px;">
            <span class="center"><button class="btn" style="background-color: #40E0D0; color: green; font-weight: bold;"> Most Liked Challenge! <i class="fa fa-hand-o-down fa-1x"></i> </button></span>
            <br>
          </li> 

        {% if most_liked_challenge_feeds %}
          {% include 'feeds/partial_challenge_feed_sidebar_right.html' with feed=most_liked_challenge_feeds.0 %}
        {% endif %}

        </ul>
      <div>
        <hr style="border-color: gray; margin-bottom: 3px; margin-top: 3px;">
        <small style="color: black; font-size: 11px;"><a href="{% url 'about' %}" class="about"> About </a><a href="{% url 'contact' %}" class="contact"> Contact </a><a href="{% url 'privacy' %}" class="privacy"> Privacy </a><a href="{% url 'tos' %}" class="terms"> Terms </a></small>
        <br style="margin-top: 3px;">
        <small style="font-size: 11px;">Copyright © 2017 hohos.</small> 

        <hr style="margin-top: 5px; margin-bottom: 5px">

        <button class="btn btn-info btn-sm btn-block inviteblock">Invite Friends</button>

        <hr style="margin-top: 5px; margin-bottom: 7px">

        <form method="post" class="user-invite-form"> {% csrf_token %}
         <input style="width: 170px;" type="text" name="invite" id="invite" placeholder="friends Email" onclick="show_invite_btn()">
         <hr style="margin-top: 3px; margin-bottom: 3px">
         <button class="btn btn-sm btn-primary" style="width: 100px; font-size: 12px; display: none;" id="invitebutton">Invite</button>
        </form>  
        </div> 

      </div>

    <div class="col-md-5 col-md-offset-1">
        {% if messages %}
        {% for message in messages %}
          <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {{ message }}
          </div>
        {% endfor %}
        {% endif %}
      <div style="margin-top:20px;" class="page-header">
        <span class="center">
         <button style="" type="button" class="btn btn-success btn-compose" title="{% trans 'Gotta new style, Share with friends and others' %}">
          <table>
            <tr>
              <td>
                {{user.profile.get_screen_name}} {% trans 'Did you find a new style? share Now!' %} (
              </td>
              <td>
                <img src="{{user.profile.get_picture}}" style="max-width: 40px; max-height: 40px; margin-left: -10px; border-radius: 50%; margin-left: 5px;" class="img img-responsive small_pic">
              </td>
            </tr>
          </table>
        </button>
       </span>
      </div>
 

      <div class="panel panel-default panel-feed">
        <div class="panel-heading">

  <table>
    <tr>
    <th colspan="10" float="left"><div><i style="margin-left: 10px;color:green;" class='fa fa-users fa-1x fa-fw'></th>
    <th colspan="10" float="left"><div><i style="color: #008080;" class='fa fa-spinner fa-spin fa-1x fa-fw'></th>
    <th colspan="10" float="center" style="color:green; margin-right:50px;">See what people are sharing ...</th>
    </tr>
  </table>

        </div>

        <div class="panel-body">
          <div class="compose">
            
            <form method="post" id="compose-form" action="{% url 'new_post' %}" enctype="multipart/form-data">
              
            {% csrf_token %}
              <input type="hidden" name="response_for_id" value="">
              <input type="hidden" name="is_challenge" value="1">
              <input type="hidden" name="is_response" value="">  
              <input type="hidden" name="mail_type" value="challenge_mail">            

              <table class="center"> <br>
              <tr>
                <td>
                  <img src="{{user.profile.get_picture}}" style="max-width: 30px; max-height: 30px; border-radius: 50%; margin-right: 10px;" class="img img-responsive small_pic">
                </td>
                <td>
                  <span style="color: gray;">{% trans "Challenge to " %}<i class="fa fa-arrow-right fa-1x"></i></span>     
                </td>
                <td>
                  <input type="text" class="typeahead" name="to_user" id="to_user" placeholder="user" style="margin-left: 15px;">
                </td>
              </tr>
              </table><br>


              <div class="form-group">
                <textarea class="form-control" style="max-width: 490px; height: 50px;" name="post" required="True"> </textarea>
              </div>
  
            <div class="form-group">
            <input type="file" name="post_pic" id="post_pic" required="True" style="max-width:250px; padding-bottom: 4px; margin-top: -10px;">
            <button type="button" class="btn btn-default btn-cancel-compose">{% trans 'Cancel' %}
            </button>
            <button style="" type="submit" class="btn btn-success shownowtip" id="btn-post" title="Click and amaze people with your response">  <!-- margin-right:5px; margin-left:45px; -->
            <span class="glyphicon glyphicon-send"></span> {% trans 'Show now' %}
            </button>
            </div>
          
            </form>
            <hr>
            <br>
          </div>


<!--           <div class="stream-update">
            <a href="#"><span class="new-posts"></span> {% trans 'new Style' %}</a>
          </div>  -->
          
          <ul class="stream">

            {% for feed in challenge_feeds %}
            <!-- {# if user in feed.user.profile.get_likers #} -->
              {% include 'feeds/partial_challenge_feed.html' with feed=feed %}
            <!-- {# endif #} -->
            {% endfor %} 
          </ul>
          <div class="load">
            <i class="fa fa-spinner fa-1x"></i>
          </div>
          
          <form method="get" action="{% url 'load' %}" id="load_feed" autocomplete="off">  

            <input type="hidden" name="feed_source" id="feed_source" value="challenge_feeds">
            <input type="hidden" name="from_feed" value="{{ from_feed }}">
            <input type="hidden" name="page" value="{{ page }}">
          
          </form>
        </div>
      </div>
    </div>  

  <div class="col col-md-2 pull-right" style="max-height:1050px; overflow:scroll;">
    <ul class="stream_sidebar nostyle"> 
<!--         <li>  
        <span class="center"><button class="btn" style="background-color: #40E0D0; color: green; font-weight: bold;"> <a href="{% url 'challenge_feeds' %}" style="color: green;" title='Hey {{request.user.username}} click to share your awesome expression sense'> Share a new style?</a> </button></span>
        <br>        
        </li>  --> 

        <li style="margin-bottom:-20px; margin-top:-17px;">
         <span class="center"><button class="btn" style="background-color: #40E0D0; color: green; font-weight: bold;"> Most popular Challenges <i class="fa fa-hand-o-down fa-1x"></i> </button></span>
        <br>
        </li>

      {% for challenge in most_liked_challenge_feeds %}
      {% if not challenge == most_liked_challenge_feeds.0 %}
      {% include 'feeds/partial_challenge_feed_sidebar_right.html' with feed=challenge %}
      {% endif %}
      {% endfor %}
    </ul>
  </div>

{% endblock main_fluid %}



{% block js %}

<script type="text/javascript">
  
$(function () {

  var substringMatcher = function(strs) {
    return function findMatches(q, cb) {
      var matches, substringRegex;
      matches = [];
      substrRegex = new RegExp(q, 'i');
      $.each(strs, function(i, str) {
        if (substrRegex.test(str)) {
          matches.push({ value: str });
        }
      });
      cb(matches);
    };
  };

  $.ajax({
    url: '/searchusers_simple/',
    cache: false,  
    success: function (data) { 
      $('#to_user').typeahead({ 
        hint: true,
        highlight: true,
        minLength: 0,
      },
      {
        name: 'data',
        displayKey: 'value',
        source: substringMatcher(data)
      });
    }
  }); 

});

</script>

<script type="text/javascript">
  var load_feeds = function () {
    if (!$("#load_feed").hasClass("no-more-feeds")) {
      var next_page = parseInt($("#load_feed input[name='page']").val()) + 1;
      $("#load_feed input[name='page']").val(next_page);
      $.ajax({
        url: '/feeds/load/',
        data: $("#load_feed").serialize(),
        cache: false,
        beforeSend: function () {
          $(".load").show();
        },
        success: function (data) {
          if (data.length > 0) {
              $("ul.stream").append(data);
          }
          else {
            $("#load_feed").addClass("no-more-feeds");
          }
        },
        complete: function () {
          $(".load").hide();
        }
      });
    } 
  };

  $("#load_feed").bind("enterviewport", load_feeds).bullseye();
</script>


<script type="text/javascript">

  $("#btn-post").click(function () {
    var to_user = $("#compose-form input[name='to_user']").val();
    var post = $("#compose-form textarea[name='post']").val();
    var post_pic = $("#post_pic").val();

    if(to_user!= "" && post!="" && post_pic!=''){
    $.ajax({
      url: '/feeds/post/email/',
      data: $("#compose-form").serialize(),
      type: 'post', 
      cache: false,
      success: function (data) {
        // do nothing
      }
    });
    }

  });

</script>

<script type="text/javascript">
  function show_invite_btn(){
     $("#invitebutton").css('display','block');
  }

</script>

{% endblock js %}