<!-- Base detail feed.html  -->

{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% load humanize %}


{% block title %} {% trans 'hohos - Details ' %}

  {% if feed.user.profile.is_product %}
    {% trans 'on ' %}{{feed.user.username}} {% trans "'s profile view" %} 
  {% else %}
    {% if feed.profile_pk %}
      {% trans 'on ' %}{{feed.user.username}} {% trans "'s profile view" %} 
    {% elif feed.response_for %}
      {% trans 'for ' %}{{feed.user.username}} {% trans "'s challenge style" %}
  {% endif %}

  {% endif %}

{% endblock %}   


  
{% block head %}
  <link href="{% static 'css/feeds.css' %}" rel="stylesheet">
<script src="{% static 'js/jquery.bullseye-1.0-min.js' %}"></script>

<style type="text/css">
.center {
  display: flex; 
  align-items: center;
  justify-content: center;
}
</style>

{% endblock head %}

{% block main %}
<div class="col col-md-8 col-md-offset-2">

       <div class="page-header">
       
      {% if rquest.user.username == feed.user.username %}
 
          <tr class="center">
          <td><i style="color:green;" class='fa fa-users fa-1x fa-fw'></i>
          <i style="color: #008080;" class='fa fa-spinner fa-spin fa-1x fa-fw'></i>
          </td>
         <td style="color:green;">Your all <a href="{% url 'userfeeds' feed.user.username %}">activities</a>
         </td>
        </tr>

      {% else %}

      <tr class="center">
        <td>
          <i class="fa fa-users fa-1x" style="margin-right:10px;"></i><a href="{% url 'profile' feed.user.username %}">Talk {{feed.user.username}}</a>
        </td>
        <td>
          <i class="fa fa-openid fa-1x" style="margin-right:10px; margin-left:10px;"></i><a href="{% url 'userfeeds' feed.user.username %}">See all activities</a>
        </td>
      </tr>

      {% endif %}
       <hr style="border-color:lightgray;">
      </div>



  <ul class="stream" style="list-style:none;">
  	{% if not feed.profile_pk %}
    	{% include 'feeds/partial_detail_feed.html' with feed=feed %}
    {% else %}
    	{% include 'feeds/partial_detail_feed_profile.html' with feed=feed %}
    {% endif %}
  </ul>
 </div>
{% endblock main %}
 


{% block js %}

<!--   <script src="{% static 'js/jquery.bullseye-1.0-min.js' %}"></script>
 -->  
 <script type="text/javascript">
  
  $(document).ready(function(){
    $(".comment").click();
  });

</script>

{% endblock js %}
