{% extends 'base.html' %}
{% load staticfiles %}   
{% load i18n %}
  
{% block title %}hohos - Response for {{response_for_feed.user.username}}'s style {% endblock %}
 
{% block head %}  
  <link href="{% static 'css/feeds.css' %}?v=1" rel="stylesheet">
  <link href="{% static 'css/feeds_sidebar.css' %}?v=1" rel="stylesheet">
  
<style type="text/css">
.nostyle li{list-style: none;}
.my {background-color:#008080;}
.mytext{color:#008080;}
.circle {color:green;}  
  
form {     
    width: 100%;
    height: auto;  
}  
 
small a {color: black; }
small a:hover {color: black;}  

.center {
  display: flex;
  align-items: center; 
  justify-content: center;
}


</style> 

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-9853052969558014",
    enable_page_level_ads: true
  });
</script>

{% endblock %} 

  
{% block main_fluid %} 



      <div class="col col-md-2" style="max-height:800px; overflow: scroll; margin-left:55px;">
        <ul class="stream_sidebar">
          <li style="margin-bottom:-30px;">
            <span class="center"><button class="btn" style="background-color: #40E0D0; color: green; font-weight: bold;"> If You could do it better? <i class="fa fa-hand-o-down fa-1x"></i> </button></span>
            <br>
          </li> 

        {% if response_for_feed %}
          {% include 'feeds/partial_challenge_feed_sidebar_left.html' with feed=response_for_feed %}
        {% endif %}

        </ul>
      <div>
        <hr style="border-color: gray; margin-bottom: 3px; margin-top: 3px;">
        <small style="color: black; font-size: 11px;"><a href="{% url 'about' %}" class="about"> About </a><a href="{% url 'contact' %}" class="contact"> Contact </a><a href="{% url 'privacy' %}" class="privacy"> Privacy </a><a href="{% url 'tos' %}" class="terms"> Terms </a></small>
        <br style="margin-top: 3px;">
        <small style="font-size: 11px;">Copyright © 2017 hohos.</small> 

        <hr style="margin-top: 5px; margin-bottom: 5px">

        <button class="btn btn-info btn-sm btn-block inviteblock">Invite Friends</button>

        <hr style="margin-top: 5px; margin-bottom: 7px">

        <form method="post" class="user-invite-form"> {% csrf_token %}
         <input style="width: 170px;" type="text" name="invite" id="invite" placeholder="friends Email" onclick="show_invite_btn()">
         <hr style="margin-top: 3px; margin-bottom: 3px">
         <button class="btn btn-sm btn-primary" style="width: 100px; font-size: 12px; display: none;" id="invitebutton">Invite</button>
        </form>  
        </div> 

      </div>
  

  
    <div class="col col-md-5 col-md-offset-1">
        {% if messages %}
        {% for message in messages %}
          <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {{ message }}
           <!--  {{active_users}} -->
          </div>
        {% endfor %}
        {% endif %}
      <div style="margin-top:25px;" class="page-header center">
        <button type="button" class="btn btn-success btn-compose" title="Amaze people with your response to {{response_for_feed.user.username}}'s challenge">
        <table>
          <tr>
            <td>
            <img src="{{user.profile.get_picture}}" style="max-width: 40px; max-height: 40px; border-radius: 50%" class="img img-responsive small_pic">
            </td>
            <td>
              <span style="margin-left: 7px; margin-right: 7px;"> Can you express </span>
            </td>
            <td>
            <img src="{{response_for_feed.post_pic.url}}" style="max-width: 40px; max-height: 40px; border-radius: 50%;" class="img img-responsive small_pic">
            </td>
            <td>
              <span style="margin-left: 7px;"> better?  @Responses <i class="fa fa-smile-o fa-1x" style="color: black;"></i> </span>
            </td>
          </tr>
        </table>
        </button>
      </div>
 

      <div class="panel panel-default panel-feed">
        <div class="panel-heading">
        <table> 
          <tr>
            <th colspan="10" float="left"><div><i style="margin-left: 10px;color:green;" class='fa fa-users fa-1x fa-fw'></th>
            <th colspan="10" float="left"><div><i style="color: #008080;" class='fa fa-1x fa-fw'></th>
            <th colspan="10" float="center" style="color:green; margin-right:50px;">See how people are doing that ...</th>
            </tr>
        </table>
        </div>

        <div class="panel-body">
          <div class="compose">
          <br>
          <span class="center">
          <table>
            <tr>
              <td>
              <img src="{{user.profile.get_picture}}" style="max-width: 40px; max-height: 40px; margin-right: 10px; border-radius: 50%" class="img img-responsive small_pic">
              </td>
              <td>
                <span style="color: gray;">{% trans "responding to " %} <i class="fa fa-arrow-right fa-1x"></i></span>
                <a href="{% url 'profile' response_for_feed.user.username %}" style="color: #008080; font-size: 17px;">{{response_for_feed.user.profile.get_screen_name}}</a>
              </td>            
              <td>
                <img src="{{response_for_feed.user.profile.get_picture}}" style="max-width: 40px; max-height: 40px; margin-left: 10px; border-radius: 50%" class="img img-responsive small_pic">
              </td>
            </tr>
          </table>
          </span><br>

           <form method="post" id="compose-form" action="{% url 'new_post' %}" enctype="multipart/form-data">
              
              {% csrf_token %}
              <input type="hidden" name="is_challenge" value="">
              <input type="hidden" name="is_response" value="1">
              <input type="hidden" name="to_user" id="to_user" value="{{response_for_feed.user.username}}" >
              <input type="hidden" name="response_for_id" value="{{response_for_feed.id}}">
              <input type="hidden" name="mail_type" value="response_mail">

              <div class="form-group">
                <textarea class="form-control" style="max-width: 490px;" name="post" required="True"></textarea>
              </div> 

              <div class="form-group">   
                <input type="file" name="post_pic" id="post_pic" style="max-width:250px; padding-bottom: 4px; margin-top:-14px;" title="You can response without pic also" class="filetip">
                <button type="submit" id="btn-post" class="btn btn-success shownowtip" title="Click and amaze people with your response">
                <span class="glyphicon glyphicon-send"></span> {% trans 'Show now' %}
                </button>
                <button type="button" class="btn btn-default btn-cancel-compose">{% trans 'Cancel' %}</button>
              </div>
 
      </form>
    </div> <br>


<!--           <div class="stream-update">
            <a href="#"><span class="new-posts"></span> {% trans 'new Style' %}</a>
          </div>  -->
          
          <ul class="stream">
            {% for feed in style_feeds %}
            {# if user in feed.user.profile.get_likers #}
              {% include 'feeds/partial_feeds_feed.html' with feed=feed %} 
            {# endif #}
            {% endfor %} 
          </ul>

          <div class="load">
            <i class="fa fa-spinner fa-spin fa-1x"></i>
          </div>
          
          <form method="get" action="{% url 'load' %}" id="load_feed" autocomplete="off">

            <input type="hidden" name="feed_source" id="feed_source" value="special_feeds">
            <input type="hidden" name="response_for_feed_id" id="response_for_feed_id" value="{{response_for_feed.id}}">
            <input type="hidden" name="from_feed" value="{{ from_feed }}">
            <input type="hidden" name="page" value="{{ page }}">
          
          </form>
        </div>  
      </div>
    </div>

  <div class="col col-md-2 pull-right" style="max-height:1050px; overflow:scroll;">
    <ul class="stream_sidebar nostyle"> 
        <li>  
        <span class="center"><button class="btn" style="background-color: #40E0D0; color: green; font-weight: bold;"> <a href="{% url 'challenge_feeds' %}" style="color: green;" title='Hey {{request.user.username}} click to share your awesome expression sense'> Share a new style?</a> </button></span>
        <br>        
        </li>  

        <li style="margin-bottom:-20px; margin-top:-20px;">
         <span class="center"><button class="btn" style="background-color: #F5DEB3; color: brown; font-weight: bold;"> Most recent Challenges <i class="fa fa-hand-o-down fa-1x"></i> </button></span>
        <br>
        </li>

      {% for style in recent_challenge_feeds %}
      {% if not style == response_for_feed %}
      {% include 'feeds/partial_challenge_feed_sidebar_right.html' with feed=style %}
      {% endif %}
      {% endfor %}
    </ul>
  </div>


{% endblock main_fluid %}


{% block js %}

<script type="text/javascript">
  function show_invite_btn(){
     $("#invitebutton").css('display','block');
  }

  // Tipped.create(".inviteblock",'Invite your friends on hohos to share their awesome expressions',{position : 'topright'}); 

    // Tipped.create(".filetip",{position: 'topleft'});

</script>

  <script src="{% static 'js/jquery.bullseye-1.0-min.js' %}"></script>
  <script src="{% static 'js/feeds.js' %}?v=1"></script>


<!-- <script type="text/javascript">  
  $(document).ready(function(){
    $("#beforelike").click(function(){
    	("#beforelike").addClass("afterlike");
    });
    $("#afterlike").click(function(){
      ("#afterlike").addClass("beforelike");
    });
  });
</script> -->
<script type="text/javascript">
  var load_feeds = function () {
    if (!$("#load_feed").hasClass("no-more-feeds")) {
      var page = $("#load_feed input[name='page']").val();
      var next_page = parseInt($("#load_feed input[name='page']").val()) + 1;
      $("#load_feed input[name='page']").val(next_page);
      $.ajax({
        url: '/feeds/load/',
        data: $("#load_feed").serialize(),
        cache: false,
        beforeSend: function () {
          $(".load").show();
        },
        success: function (data) {
          if (data.length > 0) {
              $("ul.stream").append(data);
          }
          else {
            $("#load_feed").addClass("no-more-feeds");
          }
        },
        complete: function () {
          $(".load").hide();
        }
      });
    } 
  };

  $("#load_feed").bind("enterviewport", load_feeds).bullseye();
</script>

<script type="text/javascript">

  $("#btn-post").click(function () {
    var to_user = $("#compose-form input[name='to_user']").val();
    var post = $("#compose-form textarea[name='post']").val();

    if(to_user!= "" && post!=""){
    $.ajax({
      url: '/feeds/post/email/',
      data: $("#compose-form").serialize(),
      type: 'post', 
      cache: false,
      success: function (data) {
        // do nothing
      }
    });
    }

  });

</script>

{% endblock js %}


