{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% load humanize %}

{% block title %} 
{% trans 'hohos - People &nd; Products ' %}
{% endblock %}

{% block head %}
<style type="text/css">
.likers, .commented {color: gray; padding-right: 10px;}
.likers a {color: #008080;}
.container-fluid a {color: black;}
.container-fluid i {color: white;}
#about li {color: #008080; list-style: none; margin-left: 50px; padding: 0 0;}
#about h3{color: green; margin-left: 35px;}
 .green {  
    color: #008080;
 }
 </style>
{% endblock %}



{% block main %}
<div class="row">
<div class="page-header">
  <h1 class="network">See who else has joined hohos...</h1>
	
   </div>
	<div class="col col-md-8 col-md-offset-2">
	{% if users %}
    {% for users in users %}

    <table>
  
     <tr>
      <th colspan="5" float="left">
        <span style="font-weight:bold;"><a href="{% url 'profile' user.username %}" style="color:gray; text-align:center;">{{user.profile.get_screen_name}}</a></span>
        <a href="{% url 'profile' user.username %}">
        <img src="{{user.profile.get_picture}}" class="img img-responsive" alt="image" style="height:200px; min-width:200px;">
        </a>

        <table style="margin-top:7px; margin-bottom:7px; margin-left:0px;">
        <tr>
        <th colspan="5" align="left">
      {% if user.profile.likes %}
        <button type="button" class="btn btn-danger btn-sm" title="Like {{ user.profile.get_screen_name }} on live profile to share your feeling!!" style="color:pink;">
        <span  class="glyphicon glyphicon-heart"></span> 
        {% trans 'Likers' %} {{ user.profile.likes}}
        </button> 
      {% else %}
      {% endif %}


      {% if user.profile.likes_to %}
        <button type="button" class="btn btn-success btn-sm" title="{{user}} is liking {{ user.profile.likes_to }} people!">
        <span  class="glyphicon glyphicon-heart"></span> 
        {% trans 'Likes to' %} {{ user.profile.likes_to }}
        </button>
      {% else %}
        <button type="button" class="btn btn-success btn-sm" title="{{user}} is liking {{ user.profile.likes_to }} people!">
        <span  class="glyphicon glyphicon-heart"></span> 
        {% trans 'Likes to no one' %} 
        </button>
      {% endif %}

     {% if user.profile.status %}
      <hr style="border-color: lightgray; margin-bottm:-10px;">
        <table>
          <tr>
            <th colspan="7" float="left">
            Status
          </th>
          <th style="color:green;">
          <!-- <i class='fa fa-openid fa-1x fa-fw' style="color:green;"></i> -->
          <span style="color:green; font-weight:bold; margin-left:10px;">{{user.profile.status}}</span>
          </th>
          </tr>
        </table>
      <hr style="border-color:lightgray;">
      {% else %}
      {% endif %}
        </th>
        </tr>
    </table>
    </th> 
  
    <th colspan="10">
    <ul id="about" style="min-width:300px;">
  <li>
    <i class='fa fa-user fa-1x fa-fw'></i>
    <a href="{% url 'profile' user.username %}" style="color:gray;">{% trans 'Interact with ' %}{{user.username}}</a>
    <hr style="border-color:lightgray; margin-bottom:2px; margin-top:2px;" >
  </li>


  {% if user.profile.want_to_do %}
  <li>
    <i class='fa fa-dot-circle-o fa-1x fa-fw'></i>
    {{user.profile.want_to_do}}
  </li>
  {% endif %}

  {% if user.profile.job %}
  <li>
    <i class='fa fa-briefcase fa-1x fa-fw'></i>
    {{user.profile.job}}
  </li>
  {% endif %}

  {% if user.profile.institute %}
  <li>
    <i class='fa fa-university fa-1x fa-fw'></i>
    {{user.profile.institute}}
  </li>
  {% endif %}

  {% if user.profile.company %}
  <li>
    <i class='fa fa-company fa-1x fa-fw'></i>
    {{user.profile.company}}
  </li>
  {% endif %}

  {% if user.profile.birth_date %}
  <li>
    <i class='fa fa-birthday-cake fa-1x fa-fw'></i>
    {{user.profile.birth_date}}
  </li>
  {% endif %}

  {% if user.profile.home %}
  <li>
    <i class='fa fa-home fa-1x fa-fw'></i>
    {{user.profile.home}}
  </li>
  {% endif %}


  {% if user == request.user %}
  <li>
    {% if user.profile.likes_to %}
    <i class='fa fa-heart fa-1x fa-fw'></i>
    You like <a href="{% url 'likes_to' user.username %}">
    {{user.profile.likes_to}} people
    </a> 
    {% endif %}
  </li> 
  {% else %}
  <li>
    {% if user.profile.likes_to %}
    <i class='fa fa-heart fa-1x fa-fw'></i>
    {{user.profile.get_screen_name}} likes 
    <a href="{% url 'likes_to' user.username %}">{{user.profile.likes_to}} people
    </a> 
    {% endif %}
  </li>
  {% endif %}

  {% if user == request.user %}
  <li>
    {% if user.profile.likes %}
    <i class='fa fa-heart fa-1x fa-fw'></i>
     <a href="{% url 'profile_likers' user.username %}">{{user.profile.likes}} people</a> like You
     {% endif %}
  </li> 
  {% else %}
  <li>
    {% if user.profile.likes %}
    <i class='fa fa-heart fa-1x fa-fw'></i>
     <a href="{% url 'profile_likers' user.username %}">{{user.profile.likes}} people</a> like
    {{user.profile.get_screen_name}}
    {% endif %}
  </li> 
  {% endif %}
  

  {% if user.profile.likes_most %}
    {% if user == request.user %}
    <li>
      <i class='fa fa-heart fa-1x fa-fw'></i>
      You like {{user.profile.likes_most}} most
    </li> 
    {% else %}
    <li>
      <i class='fa fa-heart fa-1x fa-fw'></i>
      {{user.profile.get_screen_name}} likes {{user.profile.likes_most}} most
    </li>
    {% endif %}
  {% endif %}

  {% if user.profile.likes_not %}
    {% if user == request.user %}
    <li>
      <i class='fa fa-heart fa-1x fa-fw'></i>
      You like {{user.profile.likes_not}} not at all
    </li>
    {% else %}
    <li>
      <i class='fa fa-heart fa-1x fa-fw'></i>
      {{user.profile.get_screen_name}} likes {{user.profile.likes_not}} not at all
    </li>
    {% endif %}
  {% endif %}

</ul> 
    </th>
  </tr>
</table> <hr style="border-color:lightgray;" >

     {% endfor %}
  {% endif %}

	</div>
</div>


{% endblock %}


{% block footer %}

<footer style="background-color:#008080;">
<div class="container-fluid" style='padding: 10px; margin-top: 70px; height: 50px; background-color: #008080;'>
<p style="text-align:center;">
  
  <!-- <a href="{% url 'contact' %}"><i class="fa fa-volume-control-phone fa-1x fa-fw"></i>Contact</a> | --> 
  <a href="https://www.linkedin.com/in/hohos-guys-48082313a/"><i class="fa fa-linkedin fa-1x fa-fw"></i>LinkedIn</a> | 
  <a href="https://www.facebook.com/Hohos-1825301447690434/"><i class="fa fa-facebook fa-1x fa-fw"></i>Facebook</a> | 
  <a href="https://twitter.com/hohosguys"><i class="fa fa-twitter fa-1x fa-fw"></i>Twitter</a> | 
  <a href="https://www.quora.com/profile/Hohos-Guys"><i class="fa fa-quora fa-1x fa-fw"></i>Quora</a> | 
  <a href="https://plus.google.com/u/0/114682388073028099952"><i class="fa fa-google-plus fa-1x fa-fw"></i>Google+</a> | 
  <a href="">Hohos</a>


</p>
</div>
</footer>

 {% endblock %} 