{% load staticfiles %}

<!DOCTYPE html>
<html>
<title>Stop trolling gattu..Binni is back :-S </title>

    <link rel="icon" href="{% static 'img/1.ico' %}" type="image/x-icon">

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style type="text/css">
	h2 {color:green; background-color: #f2f2f2;}
	h3 {color:green; background-color: #f2f2f2; } 

  /*img { height: 400px;  }
http://rs228.pbsrc.com/albums/ee228/emptynesterscloset/thglitter_icons_26.gif~c200
*/
body { background-image:url('https://m.popkey.co/205f6d/RdQp_f-maxage-0_s-200x150.gif?c=popkey-web&p=starbucks&i=frappuccino-brands&l=search&f=.gif');
/*  background-repeat:no-repeat;
  background-size: cover; 
*/}

/*body { background-image:url('{% static "fun/img/1.gif" %}');  }
*/
</style>

<body > 

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.9&appId=1867252943531138";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!--
<span class="small">whoa..! Yes, guessed right..thats reaction of gattu on this -\/- <br>Binni is here to reduce the complexity, o(n3)->o(1) very simple :-))</span>
-->

<h2 class="w3-center">Stop trolling, gattu :XD <br>Binni is here to reduce the complexity, o(n3)->o(1) very simple :-)) </h2><br>

<div class="w3-content w3-display-container">
  <img class="mySlides" src="{% static 'img/shrutiedited.jpg' %}" style="width:100%">
  {# <img class="mySlides" src="{% static 'img/2.gif' %}" style="width:100%"> #}


<div style="background-color:#f2f2f2;">
<div class="fb-like" data-href="https://hohos.in/fun/gattu_a_love_story_in_order_of_n3" data-layout="standard" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>

<a href="https://hohos.in/" class="btn btn-lg btn-success" style="color:green;">fun more at hohos </a>
</div>

<div style="background-color:#f2f2f2; max-height:700px; overflow:scroll;">
<div class="fb-comments" data-href="https://hohos.in/fun/gattu_a_love_story_in_order_of_n3" data-numposts="5"></div>
</div>


  <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
  <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
</div>




<script>
var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  if (n > x.length) {slideIndex = 1}    
  if (n < 1) {slideIndex = x.length}
  for (i = 0; i < x.length; i++) {
     x[i].style.display = "none";  
  }
  x[slideIndex-1].style.display = "block";  
}
</script>

</body>
</html>
