{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}
  {% trans 'hohos - About us' %}
{% endblock %}


{% block head %}

  <link href="{% static 'css/profile.css' %}" rel="stylesheet">
  <link href="{% static 'css/feeds.css' %}" rel="stylesheet"> 
 
<style>   


img {  
    width: 100%; 
    height: auto;
}

.container1 {  
    width: 30em;
    overflow-x: auto;
    white-space: nowrap;
}
.navbar-fixed-top { 
  margin-bottom: 0px !important;
  background-color: #008080;
}
.jumbotron { 
  position: relative;
  background-color:#008080; 
  margin-top: -21px;
}
.gray{color: gray;}
.greentext{color: #008080;}
.myview {color: white; padding: 2px; font-size: 17px; min-width: 500px;}
.myview a {color: yellow;}
.findme li, a {list-style: none; color:white; padding: 3px; }
.hr {border-color: gray}
.humans {color: white; font-size: 17px;  max-width: 500px;
margin-top: 50px; margin-bottom: -250px;} 

.products {color: white; font-size: 17px;  max-width: 500px; margin-left: 100px;margin-top: 50px; }

.future {padding-left: 350px; padding-right: 350px; color: white; font-size: 17px;}

body {background-color: #008080;}

a:hover {color: black;}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

</style> 
{% endblock %}

      <ul class="findme">
        <li>
          <i class="fa fa-quora fa-1x fa-fw"></i>
          <a href="https://www.quora.com/profile/Deepak-Bharti-16">Quora</a>
        </li>
        <li>
          <i class="fa fa-facebook fa-1x fa-fw"></i>
          <a href="https://www.facebook.com/Ddronearkon">Facebook</a>
        </li>
        <li>
          <i class='fa fa-envelope fa-1x fa-fw'>
          Email : deepakbharti823@gmail.com</i>
        </li>
      </ul>



{% block jumbotron %}
<div class="jumbotron">      
  <div class="container">
    <div class="row">
      
      <div class="col-md-4 col-md-offset-1">
        <!-- <div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="en_US" data-type="vertical" data-theme="dark" data-vanity="deepak-bharti-6a9859107"><a class="LI-simple-link" href='https://in.linkedin.com/in/deepak-bharti-6a9859107?trk=profile-badge'>Deepak Bharti</a></div> -->
        <img src="{% static 'img/deepak.jpg' %}" class="img img-responsive">
      
      <hr class="hr" >
        <tr>
<!--           <td>I'm on -</td> -->
          <td>
          <i class="fa fa-quora fa-1x fa-fw"></i>
          <a href="https://www.quora.com/profile/Deepak-Bharti-16">Quora</a>
          </td>
          <td>
          <i class="fa fa-facebook fa-1x fa-fw"></i>
          <a href="https://www.facebook.com/ceohohos">Facebook</a>            
          </td>
          <td>
          <i class="fa fa-linkedin fa-1x fa-fw"></i>
          <a href="https://www.linkedin.com/in/deepak-bharti-6a9859107/">Linkedin</a>            
          </td> 
          <td>
          <i class="fa fa-twitter fa-1x fa-fw"></i>
          <a href="https://twitter.com/Imperialarkon">Twitter</a>            
          </td>
        </tr>

      <hr class="hr" style="margin-top: 20px;">
      <a href="{% url 'home' %}"><h1 style="color: white; text-align: center; font-size: 70px; text-shadow:2px 2px black;" class="center hohoslogo">hohos</h1></a>

      <div style="text-align: center;">
       <div class="fb-like" data-href="https://www.facebook.com/hohosguys/" data-layout="button_count" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>
       </div>

    <hr class="hr">

    <small style="color: white;" class="center"><a href="{% url 'home' %}">Home </a><a href="{% url 'about' %}">About </a><a href="{% url 'contact' %}">Contact </a><a href="{% url 'privacy' %}">Privacy </a><a href="{% url 'tos' %}">Terms </a></small>

      </div>



    <div class="col-md-4 col-md-offset-1">

<h3 style="text-align:center;"> Working to upgrade the Nation and the  World </h3>
<hr class="hr" >

<div class="myview center">
We might have better things than we have now. This will bring great changes in us and so around the world.I highly wish to see people getting the best of available resources.I have been working to make it true for my School days.And now I am close to bring some changes.
</div>

<span style="font-weight:bold;">-CEO and Founder hohos</span>

  <hr class="hr">

  <div style="color:white; font-size:17px; margin-top:25px;">
    {% if request.user.is_authenticated %}
    <div>
    <!-- Talk to <span style="font-weight:bold; color:yellow;">Deepak</span> at his live hohos profile -->
    <a style="width:500px;" class="btn btn-success" href="{% url 'profile' 'deepakbharti' %}" role="button"><i class="fa fa-superpowers fa-spin fa-1x fa-fw "></i>Welcome at deepak's live profile &raquo;</a></div>
    {% else %}
    <div>
    <!-- Talk to <span style="font-weight:bold; color:yellow;">Deepak</span> at his live hohos profile -->
    <a style="width:500px;" class="btn btn-success" href="{% url 'profile' 'deepakbharti' %}" role="button"><i class="fa fa-superpowers fa-spin fa-1x fa-fw "></i>Welcome at deepak's live profile &raquo;</a></div>
    {% endif %}
  </div>

<h3 style="text-align:center; margin-top: 52px;"> What is hohos for? </h3>
<hr class="hr" >

<div class="myview">
hohos is for people who love too see the versions of things and specially human expressions. Yes! This is the place here,you can upload your selfies or some of your cool pics and let others copy your styles and upload their own version of these selfies and styles. Because it's fun cpying others styles :)
</div>

  <hr class="hr">

<table>
  <tr>
    <td>
      
  <div style="color:white; font-size:17px; margin-top:25px;">

    <div style="">
    <span style="font-weight:bold; color:yellow;">Shared expressions</span>
    <a style="width:250px;" class="btn btn-success" href="{% url 'feeds' %}" role="button"><i class="fa fa-superpowers fa-spin fa-1x fa-fw "></i>Excited to watch &raquo;</a></div>

  </div>

    </td>
 
    <td>
  <div style="color:white; font-size:17px; margin-top:25px;">
    <div style="">
    <span style="font-weight:bold; color:yellow;">Have Cool expresions?</span>
    <a style="width:250px;" class="btn btn-success" href="{% url 'challenge_feeds' %}" role="button"><i class="fa fa-superpowers fa-spin fa-1x fa-fw "></i>Share Now  &raquo;</a></div>
    </td>
  </tr>
</table>

  <hr class="hr" style="margin-top: 49px;">
    <small style="color: white; ">Copyright © 2017 hohos. All rights reserved.</small>

    </div>
    </div> 
  </div>  
</div> 

{% endblock %}





<!-- 


from quora +++++++++++++++++=

We might have better things than we’ve now. And this will bring great changes in us and so around the world.I highly wish to see people getting the best of available resources.I’ve been working to make it true for my School days.And now I am close to bring some changes.
I’m still working on this you can meet me here at www.about.me/deepak_bharti


from Linked in +++++++++++++++++++++

I am currently in B.tech 2nd Year in Computer Science at Motilal Nehru National Institute of Technology. I strongly wish that the People should get the best of available.
If you happen to have a glimpse of Education sector its quite opposite there, i.e more than 50% students are not getting what they should be.I realized this during my Higher Secondary and I decided to correct it.And now I am on the way...Imperial Arkon is just the initiative I am working on to fix this.You can visit me at www.about.me/deepak_bharti.
 -->


