{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
  
{% block title %}
hohos 
{% endblock %}

{% block head %}

  <link href="https://www.w3schools.com/w3css/4/w3.css" rel="stylesheet"> 
  <link href="{% static 'css/profile.css' %}" rel="stylesheet">
  <link href="{% static 'css/feeds.css' %}" rel="stylesheet">
   
<style>      
 html, body { font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;  }

.post p {font-size: 14px; } 
.people a {color: green;} .products a {color: red;} .styles a {color: blue;}

.iframe {  
    width: 100%;    
    height: 300px;   
}  

#downitems a {color: black;}
#downitems i {color: white;} 
   
.container1 {  
    width: 30em;  
    overflow-x: auto;  
    white-space: nowrap;  
}
.navbar-fixed-top { 
  margin-bottom: 0px !important;
  background-color: #008080;
}
.jumbotron { 
  position: relative; 
  background-color:#008080; 
  margin-top: -21px;
}
.greentext{color: #008080;}
.nameb {color: blue; } .nameg {color: green; } .namer {color: red; }

small { margin-left: 80px; }
small a {color: black; margin-right: 4px; }
small a:hover {color: black;}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.like{ font-weight: bold; font-size:13px; color: gray; }
.unlike { font-weight: bold; color: #008080; font-size:12px; }
.post a { text-decoration: none; }
.post a:hover { color: #008080; }
</style>
{% endblock head %}


{% block jumbotron %} 
<div class="jumbotron">      
  <div class="container">
  <div class="row">
      <div class="col-md-6">
       <h2 style="text-align:center; margin-bottom:7px; margin-top:-10px;" class="whatsup">What's Up!</h2><hr>

<table>

  <tr style="margin-top:4px; margin-bottom:4px; background-color:#008080;">
    <th>
      <i class='fa fa-sign-language fa-1x fa-fw' style="color:blue;"></i>
    </th>  
    <th style="color:white; font-size:16px;">
       <span class="nameb">Hey!,</span> Share your facial expressions and imitate the expressions of your friends. Because its awesome to see friends imitating us!
    </th>
  </tr> 

  <tr style="margin-top:4px; margin-bottom:4px; background-color:#008080;">
    <th>
      <i class='fa fa-users fa-1x fa-fw' style="color:green;"></i>
    </th>
    <th style="color:white; font-size:16px;">
      <span class="nameg">Hey!,</span> you can like people, comment on them and also judge others comments. Just go on their live profile, sounds cool!
     {# <hr style="border-color:gray; margin-top:2px; margin-bottom:2px;"> #}
    </th>
  </tr>

  <tr style="margin-top:4px; margin-bottom:4px; background-color:#008080;">
    <th>
      <i class='fa fa-openid fa-1x fa-fw' style="color:red;"></i>
    </th>
    <th style="color:white; font-size:16px;">
      <span class="namer">Hey!,</span> , you can ask anything to your products, like you can talk to your cell phone, laptop etc. as if they are live, isn't it interesting?
    <!-- <hr style="border-color:gray; margin-top:2px; margin-bottom:2px;"> -->
    </th>
  </tr>

</table> 
<!-- <hr style="border-color:gray; margin-top:30px; margin-bottom:13px;" > -->

    <hr>
    <div style="margin-left:10px; color:white; font-size:14px;">
    {% if request.user.is_authenticated %}
    
    Begin with us, see what people are talking about hohos at our live profile
    <br>
    <a style="margin-left:150px; width:150px;" class="btn btn-lg btn-success Welcomebtn" href="{% url 'feeds' %}"><i class="fa fa-superpowers fa-1x fa-fw "></i>Welcome &raquo;</a>
    {% else %}
    Begin with us, see what people are talking about hohos at our live profile
    <a style="margin-left:150px; width:150px;" class="btn btn-lg btn-success Welcomebtn" href="{% url 'signup_human' %}"><i class="fa fa-superpowers fa-1x fa-fw "></i>Welcome &raquo;</a>
    {% endif %}
</div><br>

 <a style="margin-left:160px; width:150px;" href="mailto:hohosguys@gmail.com" class="btn btn-info text-center">
  <i class="fa fa-sign-in fa-1x" ></i>  Join Us
 </a>

    </div>

    <div class="col-md-6 " >
    <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/6ySAZ3ChfrQ?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe> -->

<div class="w3-content w3-section iframe" style="max-width:550px; max-height:315px;">
  <img class="mySlides" src="{% static 'img/homepics/1.jpg' %}" style="width:100%; max-height: 315px;">
  <img class="mySlides" src="{% static 'img/homepics/2.jpg' %}" style="width:100%; max-height: 315px;">
  <img class="mySlides" src="{% static 'img/homepics/3.jpg' %}" style="width:100%">
  <img class="mySlides" src="{% static 'img/homepics/4.jpg' %}" style="width:100%">
  <img class="mySlides" src="{% static 'img/homepics/5.jpg' %}" style="width:100%">
  <img class="mySlides" src="{% static 'img/homepics/6.jpg' %}" style="width:100%">
  <img class="mySlides" src="{% static 'img/homepics/7.jpg' %}" style="width:100%">
  <img class="mySlides" src="{% static 'img/homepics/8.jpg' %}" style="width:100%">
</div>

    <span style="color:white; font-size:13px; ">The slide show is an examples of copying selfies/pics by Marcus Butler @hohos..hohos is not intended for private chatting! everything is open here!<i class="fa fa-hand-o-up fa-1x fa-fw"></i></span>
    </div>
  </div>  
  </div>  
  </div> 

<script>
var myIndex = 0;
carousel();
 
function carousel() {
    var i;
    var x = document.getElementsByClassName("mySlides");
    for (i = 0; i < x.length; i++) {
       x[i].style.display = "none";  
    }
    myIndex++;
    if (myIndex > x.length) {myIndex = 1}    
    x[myIndex-1].style.display = "block";  
    setTimeout(carousel, 2000); // Change image every 2 seconds
}
</script>

{% endblock jumbotron %} 


{% block main_fluid %}

<div class="row">

  <div class="col col-md-4 col-md-offset-1">

      <hr class="hr" style="margin-top: 25px;">
      <a href="{% url 'home' %}"><h1 style="color: #008080; text-align: center; font-size: 70px; text-shadow:2px 2px black;" class="hohoslogo">hohos</h1></a>

      <hr style="border-color:black;">
      <div style="text-align: center;">
      <div class="fb-like" data-href="https://www.facebook.com/hohosguys/" data-layout="button_count" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>
      </div>

      <br>
      <p style="color: #008080; margin-left: 50px;" class="center">
      <span style="color: black; margin-right: 10px;">{% if request.user.is_authenticated %}
      <img src="{{request.user.profile.get_picture}}" class="img img-responsive" style="max-width: 60px; max-height: 60px; min-height: 60px; border-radius: 50%;">
      {% else %}Guest{% endif %}</span><span class="welcometext">{% if request.user.is_authenticated %} {{ request.user.username }}
      {% endif %} can you express these expressions better?
      try...

      Are you excited to see your friends copying your styles?<br>
      Invite Your friends on hohos to show their own version of your expressions</span></p>    
        
<script type="text/javascript">

    $(document).ready(function(){
      function show_invite_btn(){
          $("#invitebutton").css('display','block');
      }
    });

</script>        

        <form method="post" class="user-invite-form center"> {% csrf_token %}
         <input style="width: 190px;" type="text" name="invite" id="invite" placeholder="friends Email" >
         <hr style="margin-top: 3px; margin-bottom: 3px">
         <button class="btn btn-sm btn-info" style="width: 120px; font-size: 14px; margin-left: 5px;" id="invitebutton">Invite</button>         
        </form>

        <a href="{% url 'interactions:knowpeople' %}" class="btn btn-sm center explorebtn" style="width: 200px; background-color: #4080FF; color: white; margin-left: 105px; margin-top: 7px; margin-bottom: 15px; font-size: 14px;">Explore &raquo;</a>

      {% if users_challenges %}
      <div class="row" style="margin-right:85px; margin-left:-50px;">
        {% for feed in users_challenges %}
        <div class="col col-xs-1 center">
        <ul style="list-style-type: none;">
         <a href="{% url 'special_feeds' feed.id %}">
         <img src="{{feed.post_pic.url}}" class="img img-responsive challengefeedsimg" style="min-height: 70px; max-height: 70px; max-width: 70px; margin-left: 20px; border-radius: 50%;" data-html="true" title="{{feed.user.username}}'s <br> Challenge">
         </a>
          </ul>
        </div>
      {% endfor %}
      </div><br style="margin-bottom: 15px;">

      <button style="" class="btn btn-sm btn-primary center">Because its awesome</button>

      {% endif %}   <!-- users challeneges endif -->

  </div>


  <div class="col col-md-4 col-md-offset-1 products" style="max-height:650px; overflow:scroll;">
    <table style="margin-top:50px;"> 
    <tr>
    <th colspan="10" float="left"><div></th>
    <th colspan="10" float="left"><div><i style="color: green;" class='fa fa-users fa-1x fa-fw'></th>
    <th style="color:red;" colspan="10" float="left"> Begin with us, Say something about Us @hohos...</th>
    </tr>
  </table>
  <ul class="stream">
    <table style="margin-top:10px;">
    <tr>
    <th colspan="10" float="left"><div></th>
    <th colspan="10" float="left"><div><i style="color: #008080; margin-left:35px;" class='fa fa-spinner fa-1x fa-fw'></th>
    <th style="color:green;" colspan="10" float="left"> Here's what people are already talking ...</th>
    </tr>
  </table>
  {% for feed in hohos_feeds %}
  {% include 'feeds/partial_feed_profile_page_user.html' %}
  {% endfor %}
  </ul>
  </div>

  <div class="col col-md-4 col-md-offset-1">
      <br>

      <small style="color: black; "><a href="{% url 'about' %}"> About </a>|<a href="{% url 'contact' %}"> Contact Us </a>|<a href="{% url 'privacy' %}" class="privacy"> Privacy Policy </a>|<a href="{% url 'tos' %}" class="terms"> Terms </a></small>
      <br style="margin-top: 3px;">
      <small>Copyright © 2017 hohos. All rights reserved.</small>
      <br><br>
      <a style="margin-left:130px; margin-right:50px;" type="button" class="btn btn-info talkus" 
      href="{% url 'profile' 'hohos' %}" title="Ask any doubt at hohos profile page">  
      <span class="glyphicon glyphicon-share-alt"></span>Talk to us @hohos</a>
      <br><br>
  </div>

</div><hr style="border-color:#008080;">



<div class="row">
	<div class="col col-md-4 col-md-offset-1 people" style="max-height:500px; overflow:scroll;">
  <table>
    <tr>
    <th colspan="10" float="left"><div><i style="margin-left: 85px;color:green;" class='fa fa-users fa-1x fa-fw'></th>
    <th colspan="10" float="left"><div><i style="color: green;" class='fa fa-spinner fa-1x fa-fw'></th>
    <th colspan="10" float="center" style="color:green;">People are talking ...</th>
    </tr>
  </table><hr style="border-color:#008080;">
	<ul class="stream">
   {% if all_profile_feeds %} 
    {% for feed in all_profile_feeds %}
    {% include 'feeds/partial_feed_profile_page_user.html' with feed=feed %}
    {% endfor %}
   {% endif %}
  <table>
    <tr>
    <th colspan="10" float="left"><div><i style="margin-left: 85px;color:green;" class='fa fa-users fa-1x fa-fw'></th>
    <th colspan="10" float="center"><a style="color:green;" href="{% url 'signup_human' %}">..... Say something about people live!<i class="fa fa-smile-o fa-1x" aria-hidden="true"></i><i class="fa fa-smile-o fa-1x" aria-hidden="true"></i>hohoos!</a></th>
    </tr>
  </table>
  </ul>
	</div> 

	<div class="col col-md-4 col-md-offset-1 products" style="max-height:500px; overflow:scroll;">
  <table>
    <tr>
    <th colspan="10" float="left"><i style="margin-left: 85px;color:red;" class='fa fa-openid fa-1x fa-fw'></th>
    <th colspan="10" float="left"><i style="color: red;" class='fa fa-spinner fa-1x fa-fw'></th>
    <th colspan="10" float="left" style="color:red;">Products are talking ...</th>
    </tr>
  </table><hr style="border-color:#008080;">
		<ul class="stream">
      {% if all_product_profile_feeds %}
        {% for feed in all_product_profile_feeds %}
        {% include 'feeds/partial_feed_profile_page_user.html' with feed=feed %}
        {% endfor %}	
      {% endif %}
    <table>
    <tr>
    <th colspan="10" float="left"><i style="color:red;" class='fa fa-openid fa-1x fa-fw'></th>
    <th colspan="10" float="center"><a style="color:red;" href="{% url 'signup_human' %}">..... Talk your Products as if they are live!<i class="fa fa-smile-o fa-1x" aria-hidden="true"></i><i class="fa fa-smile-o fa-1x" aria-hidden="true"></i>hohoos!</a></th>
    </tr>
  </table>  
    </ul>	
	</div>	
</div>
<br><hr style="border-color:#008080;">


<div class="row">
  <div class="col col-md-4 col-md-offset-1 styles" style="max-height:500px; overflow:scroll;">
  <table>
    <tr>
    <th colspan="10" float="left"><div><i style="margin-left: 85px; color:green;" class='fa fa-openid fa-1x fa-fw'></th>
    <th colspan="10" float="left"><div><i style="color:green;" class='fa fa-spinner fa-1x fa-fw'></th>
    <th colspan="10" style="color:green;" float="left">Trending challenges ...</th>
    </tr>
  </table><hr style="border-color:#008080;">

  <ul class="stream">
  {% if most_liked_feed_today %}
  <h3><small style="">Most liked style of all time... by <a href="{% url 'profile' most_liked_feed_today.user.username %}"> {{most_liked_feed_today.user.profile.get_screen_name}}</a>
  <!--  <a href="{% url 'profile' most_liked_feed_today.user.username %}">{{most_liked_feed_today.user.profile.get_screen_name}}</a> -->
  </small>
  </h3>
  <!-- <a href="{% url 'special_feeds' most_liked_feed_today.id %}"><img src="{{most_liked_feed_today.post_pic.url}}" class="img img-responsive most_liked_feed_today" title="{{most_liked_feed_today.user.username}}'s pic is liked most till now"></a> -->
  
    {% include 'feeds/partial_challenge_feed.html' with feed=most_liked_feed_today %}

  {% endif %}

<!--   <hr style="border-color:#008080;">  -->

  <small class="pull-right greentext">Imitating response for 
  <a href="{% url 'profile' most_liked_feed_today.user.username %}"> {{most_liked_feed_today.user.profile.get_screen_name}}</a>'s awesome facial expressions
  <i class="fa fa-hand-o-down fa-1x fa-fw greentext"></i>
  </small>
  <br>
        {% for feed in style_feeds %}
          {% include 'feeds/partial_feeds_feed.html' with feed=feed %}
        {% endfor %}
    </ul> 
  </div> 

  <div class="col col-md-4 col-md-offset-1 styles" style="max-height:500px; overflow:scroll;">
  <table>
    <tr>
    <th colspan="10" float="left"><div><i style="margin-left: 85px; color: red;" class='fa fa-openid fa-1x fa-fw'></th>
    <th colspan="10" float="left"><div><i style="color: red;" class='fa fa-spinner fa-1x fa-fw'></th>
    <th colspan="10" style="color:red;" float="left">Recent challenge by hohos ...</th>
    </tr>
  </table><hr style="border-color:#008080;">    
    <ul class="stream">
      {% for style in recent_challenge_feeds %}
        {% include 'feeds/partial_challenge_feed.html' with feed=style %}
      {% endfor %}
        </ul>
  </div> 
</div>

<script src="https://cdn.jsdelivr.net/jquery.typeit/4.4.0/typeit.min.js"></script>
{% endblock main_fluid %}



{% block js %}

<script type="text/javascript">

  Tipped.create(".talkus",'Talk to us at hohos Profile',{position : 'bottom'});
  Tipped.create("#invitebutton",'Invite your friends on hohos to share their awesome expressions',{position : 'topleft'}); 
</script>

<script type="text/javascript">
$('.welcometext').typeIt({ speed:60, breakLines:true, autoStart:false, breakDelay:850, loop:true, loopDelay:2005 });
$('.hohoslogo').typeIt({ cursor: false});

// $('.welcomeback').typeIt({ 
//   breakLines:false, 
//   speed: 100,
//   deleteDelay: 750, 
//   autoStart: false 
// });

</script>
    <script src="{% static 'js/jquery.bullseye-1.0-min.js' %}"></script>
    <script src="{% static 'js/feeds_profile.js' %}"></script>
 
{% endblock js %}












