{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block title %} {% trans 'hohos - Know People' %} {% endblock %}

{% block head %}
<style type="text/css">
  
  body { background-color: #008080; height: 100%; }

  small { margin-left: 80px; }
  small a {color: black; margin-right: 4px; }
  small a:hover {color: black;}

.center { 
  display: flex;
  align-items: center;
  justify-content: center;
}

</style>
 
{% endblock %}  



{% block main_fluid %}





  <div class="col col-md-3">
    <ul class="users_to_know">
    	
    </ul>
  </div>
  
  <div class="col col-md-4 col-md-offset-1">


      <a href="{% url 'home' %}"><h1 style="color: white; text-align: center; font-size: 70px; text-shadow: 4px 4px black;" class="center">hohos</h1></a>

      <small class="center" style="margin-bottom: -17px; margin-left: -20px; color: black;">Welcome</small>

      <hr style="border-color:black;">
<!--       <div style="text-align: center;">
      <div class="fb-like" data-href="https://www.facebook.com/hohosguys/" data-layout="button_count" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>
      </div> -->


      <p style="color: white; margin-left: 20px; text-align: left;" class="center">
<!--       <span style="color: black; margin-right: 10px;">{% if request.user.is_authenticated %}
      <img src="{{request.user.profile.get_picture}}" class="img img-responsive" style="max-width: 70px; max-height: 70px;">
      {% else %}Guest{% endif %}</span> -->{% if request.user.is_authenticated %} {{ request.user.username }}
      {% endif %}  Welcome to the world of strange human behaviour and cool facial expressions formed naturally. These are some of those facial expressions challenges by hohos.

      </p>    

<!-- 
        <form method="post" class="user-invite-form center"> {% csrf_token %}
         <input style="margin-left: 55px" type="text" name="invite" id="invite" placeholder="friends Email"/>
         <button class="btn btn-sm btn-info" style="width: 120px; margin-left: 5px; font-size: 14px;" id="invitebutton">Invite</button>
        </form> -->

      <hr>

      {% if users_challenges %}
      <div class="row">
        {% for feed in users_challenges %}
        <div class="col col-xs-2  center">
        <ul style="list-style-type: none;">
         <a href="{% url 'special_feeds' feed.id %}">
         <img src="{{feed.post_pic.url}}" class="img img-responsive" style="max-height: 85px; max-width: 85px; margin-right: 10px; margin-left: -10px; hover:focus;">
         </a>
          </ul>
        </div>
      {% endfor %}
      </div><br style="margin-bottom: 15px;">

      <button class="btn btn-block btn-sm btn-primary center">Because its awesome to see friends copying our styles</button>

      {% endif %} 

      <br>

      <small style="color: black; margin-left: -30px;" class="center"><a href="{% url 'about' %}"> About </a>|<a href="{% url 'contact' %}"> Contact Us </a>|<a href="{% url 'privacy' %}"> Privacy Policy </a>|<a href="{% url 'tos' %}"> Terms </a></small>
      <br style="margin-top: 3px;">
      <small class="center" style="margin-left: -30px;">Copyright © 2017 hohos. All rights reserved.</small>
      <br><br>
      <a type="button" class="btn btn-info center" style="width: 150px; margin-left: 130px;"  href="{% url 'profile' 'hohos' %}">  
      <span class="glyphicon glyphicon-share-alt"></span>Talk to us @hohos</a>
      <br><br>

  </div>

  <div class="col col-md-3 pull_right">
    
  </div>

{% endblock main_fluid %}



{% block js %}

{% endblock js %}



  {% if users_not_login_more_than_7_days %}
      <span>The following users have been sent an invitation as they have not visited for more than 7 days</span><br>
    {% for user in users_not_login_more_than_7_days %}
      <tr>
        <td>{{user.profile.get_screen_name}}</td>
        <td>{{user.email}}</td>
      </tr>
    {% endfor %}
  {% endif %}
