{% extends 'base.html' %}
{% load i18n %}


{% block title %}
{% trans 'hohos - 500' %}
{% endblock %}

{% block head %}
<style type="text/css">
#downitems a {color: black;}
#downitems i {color: white;}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #008080;
  text-align: center;
}

.footer a { color: black; }
.footer i {color: white;}

</style>
{% endblock %}



{% block main %}
  <div class="page-header">
    <h1>Page not found... </h1>
  </div>
  <p style="margin-top: 1.2em">Ooops! Something went wrong. Try again!</p>

{% endblock main %}


{% block footer %}

<footer class="footer">
<p style="text-align:center;">
  
  <a href="{% url 'contact' %}"><i class="fa fa-volume-control-phone fa-1x fa-fw"></i>Contact</a> | 
  <a href="https://www.linkedin.com/in/hohos-guys-48082313a/"><i class="fa fa-linkedin fa-1x fa-fw"></i>LinkedIn</a> | 
  <a href="https://www.facebook.com/Hohos-1825301447690434/"><i class="fa fa-facebook fa-1x fa-fw"></i>Facebook</a> | 
  <a href="https://twitter.com/hohosguys"><i class="fa fa-twitter fa-1x fa-fw"></i>Twitter</a> | 
  <a href="https://www.quora.com/profile/Hohos-Guys"><i class="fa fa-quora fa-1x fa-fw"></i>Quora</a> | 
  <a href="https://plus.google.com/u/0/114682388073028099952"><i class="fa fa-google-plus fa-1x fa-fw"></i>Google+</a> 
        
  <div class="fb-like" data-href="https://www.facebook.com/hohosguys/" data-layout="button_count" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>

</p>
</footer>

 {% endblock %} 
