{% load staticfiles i18n %} 
 
<!DOCTYPE html>  
<html lang="en">  
  <head>   
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags --> 
  
    <title>
    {% block title %}  
      {% trans 'The world of strange human behaviour and awesome facial expressions - hohos' %}
    {% endblock %} 
    </title> 
    {% block content_title %} {% endblock %}   
    <link rel="icon" type="image/png" href="{% static 'img/favicon.ico' %}">
 
    <meta name="description" content="The world of strange human behaviour & awesome facial expressions formed naturally.Here you can share your facial expressions and imitate others including your friends. Because its awesome to see friends imitating us...">

    <meta name="author" content="Deepak Bharti, btech 2nd year Mnnit, Computer Science,has created this beautiful place"> 
   
    <meta name="keywords" content="hohos,Styles,comment,like,ceo hohos, hohos,
    product,people,peoplelive,productlive,Mnnit social Network,hoho,Deepak Bharti,selfies,copy, Allahabad">
    
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">  

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"> 
 -->
    <link href="{% static 'css/hohos.css' %}?v=1" rel="stylesheet"> 
    <!--[if lt IE 9]> 
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>   
    <![endif]-->

    <link href="{% static 'css/tooltipster.css' %}" rel="stylesheet">
    <link href="{% static 'css/tipped/tipped.css' %}" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

 <style type="text/css">body {background-color: #f2f2f2;}
 .popover-content a {color: #008080;}
 .comments ol li div { font-size: 13px; }
 .text { font-size:12px; }   

 </style>

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "url": "http://www.hohos.in",
  "logo": "http://hohos.in/media/profile_pictures/no_picture.png", 
  "contactPoint": [
    { "@type": "ContactPoint",
      "telephone": "7275036250",
      "contactType": "Phone"
    }
  ],
  "sameAs": [
    "http://www.facebook.com/hohosguys",
    "http://www.quora.com/topic/Hohos",
    "http://www.linkedin.com/company-beta/13374697/",
    "http://twitter.com/hohosguys"
  ]
}

</script>

<!-- Google Adsense script -->
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-9853052969558014",
    enable_page_level_ads: true
  });
</script>

  {% block head %}
  {% endblock %}  
  
  </head>
  

    {% block body %}

    {% include 'header.html' %} 
      <main>
      {% block jumbotron %}
      {% endblock %}
        <div class="container">
          {% block main %}
          {% endblock main %}
        </div>
        <div class="container-fluid">
          {% block main_fluid %}

          {% endblock main_fluid %}
        </div>
      </main>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.9&appId=1867252943531138";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

{% endblock body %}
    
    
{% block footer %}{% endblock %}

    <script src="{% static 'js/notifications.js' %}" type ="text/javascript"></script>
    <script src="{% static 'jquery/jqueryui.js' %}" type ="text/javascript"></script>
    <script src="{% static 'js/hohos.js' %}" type ="text/javascript"></script>

    <!-- tooltip related js files -->
    <script src="{% static 'js/tipped/tipped.js' %}" type="text/javascript"></script>    
    <script src="{% static 'js/jquery.tooltipster.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/hc.js' %}" type ="text/javascript"></script>
    <script src="{% static 'js/mytooltips.js' %}" type ="text/javascript"></script>
    <script src="{% static 'js/invite.js' %}" type ="text/javascript"></script> 
    <script src="{% static 'js/jquery.typeahead.bundle.js' %}" type ="text/javascript"></script>   

    <!-- To collect extra js files from different pages, will be fetched only for those pages -->


{% block js %}

{% endblock js %}

  </body>
</html>
 

