{% extends 'base.html' %}

{% block style %}
  <title>jQuery UI Datepicker - Default functionality</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

   <script>
  $( function() {
    $( "#datepicker" ).datepicker();
  } );
  </script>
{% endblock %}

{% block content %}
<p style="margin-top: 100px">Date: <input type="text" id="datepicker"></p>
 
 {% endblock %}