{% extends 'base.html' %}


{% block jumbotron %}
-
{% endblock %}

{% block content %}


<!-- <div class="row">
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1">.col-md-1</div>
</div> -->
<div class="row">
  <div style="background-color: green" class="col-md-8 col-sm-6 ">col-md-8 col-sm-6 col-xs-4</div>
  <div style="background-color: brown" class="col-md-4 col-sm-6 ">col-md-4 col-sm-6 col-xs-8</div>
<!-- </div>
<div class="row">
  <div class="col-md-4">.col-md-4</div>
  <div class="col-md-4">.col-md-4</div>
  <div class="col-md-4">.col-md-4</div>
</div>
<div class="row">
  <div class="col-md-6">.col-md-6</div>
  <div class="col-md-6">.col-md-6</div>
</div> -->

{% endblock %}