   {% load staticfiles %}

   

   <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
<!--         <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'home' %}" style="color: white;">Hohos</a>
        </div> -->
        <div id="navbar" class="navbar-collapse collapse">
        <a class="navbar-brand" href="{% url 'home' %}" style="color: white;">Hohos</a>
          <ul class="nav navbar-nav">
           {% if request.user.is_authenticated %}
            <li><a href="{% url 'posts:list' %}" style="color: black;">Home</a></li>
            {% endif %}
            <li><a href="{% url 'about' %}" style="color: black;">About</a></li>
            <li><a href="{% url 'contact' %}" style="color: black;">Contact</a></li>
            <!-- <li class="dropdown"> 
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li> -->
          </ul>


          <ul class="nav navbar-nav navbar-right">
          {% if request.user.is_authenticated %}
              <li>
              <form method="GET" action="{% url 'posts:list' %}" style="margin-top: 7px">
                {% csrf_token %}
                 <input type="text" name="q" placeholder="search Posts" value="{{request.GET.q}}" />
                 <input type="submit" class="btn btn-info" value="search" />
              </form>
              </li>
            <li>
            <a href="#" style="color: black; font-size: 15px;">{{request.user}}</a></li>
            <li><a href='{% url "accounts:logout" %}' style="color: black; font-size: 15px;">  

<!--              <div class="btn-group" style="margin-top: 7px">
                <button type="button" class="btn btn-danger">Action</button>
                <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
                </button>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
              </ul>
            </div> -->
             Logout</a></li>
            {% else %}   
            <li><a href="{% url 'accounts:register' %}" style="color: black; text-decoration:bold;">Register</a></li>
            {% endif %}
          </ul>

          {% if not request.user.is_authenticated and not "/accounts/login" in request.get_full_path %}
            <form class='navbar-form navbar-right' method='POST' action='{% url "accounts:login" %}'>  
            {% csrf_token %}
              <div class='form-group'>
                  <input type='text' class='form-control' name='username' placeholder='Username' /> 
              </div>
              <div class='form-group'>
                  <input type='password' class='form-control' name='password' placeholder='Password' />
              </div>
              <button type='submit' class='btn btn-default'>Login</button>
          </form>
          {% endif %}


        </div><!--/.nav-collapse -->
      </div>
    </nav>