{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load i18n %}


{% block title %}
{% trans 'hohos - Reset your Password' %}
{% endblock %}


{% block head %}
<style type="text/css">
.mycolor {color: black;}
.green{color: black;}
.width{width: 200px;}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

small a { color: black; }
small a:hover { color: black; }

.hr { color: black; }

body { background-color: #008080; }
</style>

{% endblock %}


{% block main %}
<div class='col-sm-6 col-sm-offset-3'>
<h1 class='lead' style="color:black;">
<i class="fa fa-superpowers fa-spin fa-1x fa-fw"></i>
Password Reset
</h1>
<p class='lead green'>Reset your password using your email below.</p>
<small class="green">Use the Email which you registered while making your hohos Account</small>

<br><br>
<form method="post" action=".">
  {% csrf_token %} 
    
    <table style="align-self: left;">
    <tr>
    <td style="margin-right: 10px; min-width: 200px;">{{ form|crispy }}</td>
    <td><input style="margin-top:10px; margin-left: 10px; max-width: 100px;" class='btn btn-success width' type="submit" value="{% trans 'Reset' %}"/></td>
    </tr>
    </table>

</form>

    <br><br>  
      <hr style="margin-top: 20px; border-color: gray;">
      <a href="{% url 'home' %}"><h1 style="color: black; text-align: center; font-size: 70px;" class="hohoslogo">hohos</h1></a>

      <div style="text-align: center;">
       <div class="fb-like" data-href="https://www.facebook.com/hohosguys/" data-layout="button_count" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>
       </div>

    <hr style="border-color: gray;">
    
    <tr>
      <td>
        <small><a href="{% url 'home' %}">Home </a><a href="{% url 'about' %}">About </a><a href="{% url 'contact' %}">Contact </a><a href="{% url 'privacy' %}">Privacy </a><a href="{% url 'tos' %}">Terms </a></small>
      </td>
      <td>
        <small>Copyright © 2017 hohos. All rights reserved.</small>
      </td>
    </tr>
    
    <br>
    <hr style="border-color: black;">

      <a type="button" class="btn btn-info center talkus" style="width: 150px;"  href="{% url 'contact' %}" title="If Have you forgot the registered Email?">  
      <span class="glyphicon glyphicon-share-alt"></span>Need Help</a>

    <br>

</div>

{% endblock %}

  
{% block js %}

<script type="text/javascript">
  
Tipped.create("form","Enter the registered Email Address, we\'ll send you password reset link on this Email", {position : 'bottom'});
Tipped.create(".talkus",{position:'right'});
// Tipped.create(".hohoslogo", 'Hope you are awesome. Lets Enter the world of strange Human behaviour & expressions formed naturally' ,{position : 'top'});
  
</script>

{% endblock js %}