{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% load i18n %}


{% block title %}{{ title }}{% endblock %}


{% block head %}
<style type="text/css">

small a { color: black; }
small a:hover { color: black; }

body { background-color: #008080; }

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

</style>
{% endblock %}
 

{% block main %}

<div class="row">
	<div class="col col-md-6 col-md-offset-3">

	{% if validlink %}

	<p style="color:black; margin-top: 30px; font-size: 20px;" class="lead">{% trans "Make a strong new password" %}
	</p>

  <hr style="border-color: gray;">

	<form method="post">{% csrf_token %} 
	{{ form.new_password2.errors }}
	
	<div style="max-width: 250px;">{{form|crispy}}</div>	
	
	{{ form.new_password1.errors }}

	<input type="submit" value="{% trans 'Change my password' %}" class="btn btn-sm btn-success center" style="">
	</form>



	{% else %}

	<p class="lead center" style='color:black; font-size: 20px; margin-top: 20px;'>{% trans "The Password reset link is invalid, posibly because it has been used. Please request a new password request." %}</p>

	{% endif %}
	</div>

 	<div class="col col-md-6 col-md-offset-3">
    <br><br>  
      <hr style="margin-top: 20px; border-color: gray;">
      <a href="{% url 'home' %}"><h1 style="color: black; text-align: center; font-size: 70px;" class="hohoslogo">hohos</h1></a>

      <div style="text-align: center;">
       <div class="fb-like" data-href="https://www.facebook.com/hohosguys/" data-layout="button_count" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>
       </div>

    <hr style="border-color: gray;">
    
    <tr>
      <td>
        <small><a href="{% url 'home' %}">Home </a><a href="{% url 'about' %}">About </a><a href="{% url 'contact' %}">Contact </a><a href="{% url 'privacy' %}">Privacy </a><a href="{% url 'tos' %}">Terms </a></small>
      </td>
      <td>
        <small>Copyright © 2017 hohos. All rights reserved.</small>
      </td>
    </tr>

    <br><br>

      <a type="button" class="btn btn-info center talkus" style="width: 150px;"  href="{% url 'contact' %}">  
      <span class="glyphicon glyphicon-share-alt"></span>Need Help</a>

      <br>

 	</div>

</div>


{% endblock main %}

{{ form.address.auto_id }
{% block js %}

<script type="text/javascript">
  
// Tipped.create("#"+{{ form.new_password1.auto_id }},"choose a strong new password", {position : 'bottom'});
// Tipped.create("#new_password2","Confirm new password", {position : 'bottom'});
Tipped.create(".talkus",{position:'right'});
// Tipped.create(".hohoslogo", 'Hope you are awesome. Lets Enter the world of strange Human behaviour & expressions formed naturally' ,{position : 'top'});
  
</script>

{% endblock js %}
