{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}


{% block title %}{{ title }}{% endblock %}


{% block head %}
<style type="text/css">
small a { color: black; }
small a:hover { color: black; }

body { background-color: #008080; }

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

</style>
{% endblock %}


{% block main %}

  <div class="col col-md-6 col-md-offset-3">
    <br><br><br>
    <p style="color:black; font-size: 18px" class="lead center">{% trans "Password reset succesful!" %}</p><br>
    <span class="center"><i class="fa fa-smile-o fa-4x"></i></span>
    <br>
    <p style="font-size: 18px;" class="center">You are Good to go</p>

    <table class="center">
    <tr>
    <td> 
      <a href="{% url 'login' %}" style="max-width: 300px;" class="btn btn-block btn-success center loginback" title="welcome back">
      {% trans 'Log in at hohos' %}</a>
    </td>    
    <td>
<!--       <a href="{% url 'interactions:knowpeople' %}" class="btn btn-sm center" 
      style="max-width: 300px; margin-left:10px; background-color: #4080FF;color:white;font-size:14px;">
      Explore &raquo;
      </a> -->
      <a href="{% url 'interactions:knowpeople' %}" class="btn btn-sm center explorebtn" style="max-width: 300px; background-color: #4080FF; color: white; margin-left: 10px; font-size: 14px;" title="Hey There, Click to explore the new things on hohos">Explore &raquo;</a>
      </td>
    </tr>
  </table>

  </div>

  <div class="col col-md-6 col-md-offset-3">
    <br><br>
      <a href="{% url 'home' %}"><h1 style="color: black; text-align: center; font-size: 70px;" class="hohoslogo">hohos</h1></a>

      <div style="text-align: center;">
       <div class="fb-like" data-href="https://www.facebook.com/hohosguys/" data-layout="button_count" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>
       </div>

    <hr style="border-color: gray;">
    
    <tr>
      <td>
        <small><a href="{% url 'home' %}">Home </a><a href="{% url 'about' %}">About </a><a href="{% url 'contact' %}">Contact </a><a href="{% url 'privacy' %}">Privacy </a><a href="{% url 'tos' %}">Terms </a></small>
      </td>
      <td>
        <small>Copyright © 2017 hohos. All rights reserved.</small>
      </td>
    </tr>
    <br><br>

      <a type="button" class="btn btn-info btn-block talkus" style=""  href="{% url 'profile' 'hohos' %}" title="If need some help?">  
      <span class="glyphicon glyphicon-share-alt"></span>Talk to hohos
      </a>

      <br>

  </div>

{% endblock %}



{% block js %}

<script type="text/javascript">
  
Tipped.create(".talkus",{position:'right'});
// Tipped.create(".hohoslogo", 'Hope you are awesome. Lets Enter the world of strange Human behaviour & expressions formed naturally' ,{position : 'top'});
Tipped.create(".explorebtn",{position:'right'});
Tipped.create(".loginback",{position:'left'});

</script>

{% endblock js %}
