{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

<!-- {% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; {% trans 'Password reset' %}
</div>
{% endblock %} --> 

{% block head %}
<style type="text/css">
<style type="text/css">
.black{color: black;}  
.width{width: 250px;}


small a { color: black; }
small a:hover { color: black; }

body { background-color: #008080; }

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}


</style>
{% endblock %}

{% block title %}{{ title }}{% endblock %}

{# block content_title #}<h1>{{ title }}</h1>{# endblock #}


{% block main %}


<div class="row">
	<div class="col col-md-6 col-md-offset-3">
		
	<h3 style="margin-top:50px; color:black;">
	<i class="fa fa-superpowers fa-spin fa-1x fa-fw"></i>
	Password reset Email Sent</h3>
	
	<p class="black">{% trans "We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly." %}</p>
	<hr style="border-color: gray;">
	<p class="black">{% trans "If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder." %}</p>
 	</div>
 	

 	<div class="col col-md-6 col-md-offset-3">
    <br><br>
      <a href="{% url 'home' %}"><h1 style="color: black; text-align: center; font-size: 70px;" class="hohoslogo">hohos</h1></a>

      <div style="text-align: center;">
       <div class="fb-like" data-href="https://www.facebook.com/hohosguys/" data-layout="button_count" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>
       </div>

    <hr style="border-color: black;">
      
    <tr>
      <td>
        <small><a href="{% url 'home' %}">Home </sa><a href="{% url 'about' %}">About </a><a href="{% url 'contact' %}">Contact </a><a href="{% url 'privacy' %}">Privacy </a><a href="{% url 'tos' %}">Terms </a></small>
      </td>
      <td>
        <small>Copyright © 2017 hohos. All rights reserved.</small>
      </td>
    </tr>

    <br><br>

      <a type="button" class="btn btn-info center talkus" style="width: 150px; margin-left: 200px;"  href="{% url 'contact' %}" title="In case you don't have access to the Email">  
      <span class="glyphicon glyphicon-share-alt"></span>Need Help</a>

      <br>

 	</div>

</div>

{% endblock main %}



{% block js %}

<script type="text/javascript">
  
Tipped.create(".talkus",{position:'right'});
// Tipped.create(".hohoslogo", 'Hope you are awesome. Lets Enter the world of strange Human behaviour & expressions formed naturally' ,{position : 'top'});
  
</script>

{% endblock js %}
