/*.text-align-center {
	text-align: center;     
}

.container {
	margin-top: 20px;
}

.jumbotron {
	margin-top: 25px;
}


h1 {
    color: #777777;
}

.wmd-panel{
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.comment-reply{
    display:none;
}*/

/*.Dropdown li {
	background-color: #008080; 
}*/