/**
 * Author     : Tamil Selvan K
 * Website    : http://codedodle.com
 */

a {
    color: #3B5998;
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.hovercard {
    width: 370px;
    height: 239px; 
    border: 0;
    position: relative;
    border-radius: 2px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .1), 0 1px 10px rgba(0, 0, 0, .35);
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, .1), 0 1px 10px rgba(0, 0, 0, .35);
}

/** Cover picture styles */

.display-pic {
    height: 137px;
    background-color: #0080CC;
    position: relative;
}

.display-pic-gradient {
    height: 97px;
    position: absolute;
    top: 43;
    width: 100%;
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(38,38,38,0.40) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(38,38,38,0.40))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(38,38,38,0.40) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(38,38,38,0.40) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(38,38,38,0.40) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(38,38,38,0.40) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#8c262626',GradientType=0 ); /* IE6-9 */
}

.cover-photo {
    height: 140px;
    overflow: hidden;
}

.profile-pic {
    position: absolute;
    width: 350px;
    height: 100px;
    left: 10px;
    top: 85px;
    z-index: 1;
}

.pic {
    border: 1px solid rgba(0, 0, 0, .3);
    width: 100px;
    height: 100px;
    border-radius: 3px;
    padding: 3px;
    background-color: white;
}

.title-container {
    margin: -40px 0 0 140px;
    position: absolute;
}

.title-container a {
    color: #ffffff;
    font-size: 12px;
    font-family: Helvetica, Arial, 'lucida grande',tahoma,verdana,arial,sans-serif;
    font-weight: bold;
    font-size: 14px;
    text-decoration: underline;
}

.other-info {
    color: #fff;
    font-size: 12px;
    margin: 0;
}

/** Hover card info and interaction */

.info {
    height: 37px;
    width: 100%;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-bottom: none;
    border-left: none;
    border-right: none;
    position: absolute;
    top: 200px;
}

.info-inner {
    padding: 9px;
    margin-left: 120px;
}

.info-inner a {
    text-decoration: none;
}

.interactions {
    float: right;
}

/** Person/Page info styles */

.details {
    margin-top: -60px;
    margin-left: 90px;
    font-size: 11px;
}

.details-list {
    list-style-type: none;
    color: #333;
    font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
}

.details-list-sub-item {
    color: #9197a3;
}

/** Hovercard utils */

.glyph {
    background-repeat: no-repeat;
    background-image: url('spirit.png');
    background-size: auto;
    display: inline-block;
    height: 16px;
    width: 16px;
}

.glyph-home {
    background-position-y: 0px;
}

.glyph-edu {
    background-position-y: -15px;
}

.glyph-loc {
    background-position-y: -34px;
}

.glyph-work {
    background-position-y: -50px;
}

.btn {
    background: #f6f7f8;
    border: 1px solid #c6c7ca;
    color: #747474;
    font-size: 12px;
    font-family: 'Helvetica Neue', Helvetica, Arial, 'lucida grande',tahoma,verdana,arial,sans-serif;
    font-weight: bold;
    padding: 6px 8px;
    text-align: center;
    text-decoration: initial;
    vertical-align: middle;
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    -webkit-box-sizing: content-box;
    -webkit-font-smoothing: antialiased;
}

/* for demo */

#global-container {
    width: 800px;
    height: 400px;
    margin: 30px auto;
    background-color: #E0E8FF;
    border: 1px solid lightgrey;
    border-radius: 3px;
    padding: 10px;
    text-align: center;
}
